<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rubel Miah">
	
	<!-- favicon icon -->
	<link rel="shortcut icon" href="images/icon/favicon.png">

	<title>Rosy - Beautiful HTML5 Blog Template</title>

	<!-- common css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/slicknav.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

	<!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.js"></script>
    <![endif]-->

</head>

<body class="home blog">

	<!--preloader start-->
    <div id="st-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>
	<!--/preloader end-->

    <!--header start-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-menu-are">
                        <div id="navigation-wrapper">
                            <ul class="top-menu text-center">
                                <li class=""><a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a></li>
                                        <li><a href="index-4.html">Home 4</a></li>
                                        <li><a href="index-5.html">Home 5</a></li>
                                        <li><a href="index-6.html">Home 6</a></li>
                                        <li><a href="index-7.html">Home 7</a></li>
                                        <li><a href="index-8.html">Home 8</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-7.html#">Features</a>
                                    <ul class="sub-menu">
                                        <li><a href="single-blog.html">Standard Post</a></li>
                                        <li><a href="single-gallery-blog.html">Gallery Post</a></li>
                                        <li><a href="single-video-blog.html">Video Post</a></li>
                                        <li><a href="single-audio-blog.html">Audio Post</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="archive.html">Archive</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-7.html#">Lifestyle</a></li>
                                <li><a href="index-7.html#">Recipes</a></li>
                                <li><a href="index-7.html#">Travel</a></li>
                                <li><a href="about.html">About Me</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>                   
                        </div>
                    </div>
                    <div class="menu-mobile"></div>
                </div>
            </div>
        </div>
    </header>
    <!--/header end-->
	
	<div class="main-logo text-center">
		<a href="index-7.html#"><img src="images/logo.png" alt="Rosy"></a>
	</div>

    <!--featured slider start-->
    <div id="featured-slider" class="owl-carousel slider-one">
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider1.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider2.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider3.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider4.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider5.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider6.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider7.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider8.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider9.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
        <div class="item">
            <a href="index-7.html#" title="Day Started with Coffe">
                <img src="images/featured-slider10.jpg" class="img-responsive" alt="" />
            </a>
            <div class="slider-item-cap">
                <div class="s-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                <a class="s-title" href="index-7.html#">Day Started with Coffe</a>
            </div>
        </div>
    </div>
    <!--/featured slider end-->


	<!--blog start-->
	<div class="container">
		<div class="row">
			<div class="col-md-8">
                <div class="row masonery_area">
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post2.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post9.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post8.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post7.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post6.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post5.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post4.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post3.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post2.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-6 grid2">   
                        <article class="hentry">
                            <div class="thumbnails">
                                <a href="index-7.html#" title="Day Started with Coffe"><img src="images/post1.jpg" class="post-thumbnail img-responsive" alt=""></a>
                            </div>
                            <div class="post-content-area">
                                <header class="entry-header text-center">
                                    <div class="post-cat"><a href="index-7.html#" rel="category tag">Food</a></div>
                                    <a href="index-7.html#" rel="bookmark" class="entry-title">Day Started with Coffe</a>            
                                </header> <!--/.entry-header -->
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur…</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta text-center">
                                    <span class="posted-on">10 August, 2015</span>
                                    <span class="post-comment"><a href="index-7.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->
                            </div>
                        </article>
                    </div>
                
                    <div class="col-md-12">
                        <ul class="pagination">
                            <li><a class="prev page-numbers" href="index-7.html#"><i class="fa fa-angle-left"></i></a></li>
                            <li><span class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="index-7.html">2</a></li>
                            <li><a class="page-numbers" href="index-7.html">3</a></li>
                            <li><a class="page-numbers" href="index-7.html">4</a></li>
                            <li><a class="next page-numbers" href="index-7.html"><i class="fa fa-angle-right"></i></a></li>
                        </ul>               
                    </div>
                
                </div>
            </div>



            <!--sidebar start-->
            <div class="col-md-4">
                <div class="primary-sidebar widget-area" role="complementary">

                    <aside id="shapedtheme_about_widget-2" class="widget shapedtheme_about_widget">         
                        <div class="about-widget">
                            <img class="img-responsive" src="images/about.png" alt="About Rosy" />
                            <div class="about-me-title text-center">About Rosy</div>
                            <div class="about-me-content">
                                Hello, my name is Rosy. I am a food blogger based in Los Angeles. This is a blog, where I post my photos, recipes and tips about.
                            </div>
                            <div class="social-link text-center">
                                <a href="index-7.html#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="index-7.html#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="index-7.html#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="index-7.html#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                                <a href="index-7.html#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="index-7.html#" class="bloglovin"><i class="fa fa-heart"></i></a>    
                            </div>
                        </div>
                    </aside>

                    <aside class="widget widget_search">
                        <form role="search" method="get" id="searchform" action="index-7.html">
                            <div> 
                                <input type="text" placeholder="Search here..." name="s" id="s" />
                                <button class="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </aside>

                    <aside class="widget">
                        <h1 class="widget-title">Pinterest</h1>
                        <div id="st-pinterest-widget-container">
                            <div class="st-pinterest">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest10.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest11.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest12.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest9.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest6.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest5.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest4.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest3.jpg" alt="" title="" /></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6">
                                        <a href="index-7.html#"><img src="images/pinterest7.jpg" alt="" title="" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="widget">
                        <h1 class="widget-title">Latest Posts</h1>
                        <div class="latest-posts latest">
                            <div class="media">
                                <div class="latest-post-thumb">
                                    <a href="index-7.html#"><img src="images/latest-post1.jpg" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="media-body">
                                    <div class="entry-meta">
                                        <a href="index-7.html#" rel="category tag">Food</a>
                                    </div>
                                    <h3 class="entry-title"><a href="index-7.html#">Day Started with Coffe</a></h3>
                                </div>
                            </div>
                            <div class="media">
                                <div class="latest-post-thumb">
                                    <a href="index-7.html#"><img src="images/latest-post2.jpg" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="media-body">
                                    <div class="entry-meta">
                                        <a href="index-7.html#" rel="category tag">Food</a>
                                    </div>
                                    <h3 class="entry-title"><a href="index-7.html#">Day Started with Coffe</a></h3>
                                </div>
                            </div>
                            <div class="media">
                                <div class="latest-post-thumb">
                                    <a href="index-7.html#"><img src="images/latest-post3.jpg" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="media-body">
                                    <div class="entry-meta">
                                        <a href="index-7.html#" rel="category tag">Food</a>
                                    </div>
                                    <h3 class="entry-title"><a href="index-7.html#">Day Started with Coffe</a></h3>
                                </div>
                            </div>
                            <div class="media">
                                <div class="latest-post-thumb">
                                    <a href="index-7.html#"><img src="images/latest-post4.jpg" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="media-body">
                                    <div class="entry-meta">
                                        <a href="index-7.html#" rel="category tag">Food</a>
                                    </div>
                                    <h3 class="entry-title"><a href="index-7.html#">Day Started with Coffe</a></h3>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="widget">
                        <h1 class="widget-title">Subscribe</h1>
                        <div class="form mc4wp-form">
                            <form method="post" >
                                <input type="email" name="email" placeholder="Your email address" />
                                <input type="submit" value="&#xf003;" />
                            </form>
                        </div>
                    </aside>

                    <aside class="widget">
                        <h1 class="widget-title">Tags</h1>
                        <div class="tagcloud">
                            <a href="index-7.html" title="">Camera</a>
                            <a href="index-7.html" title="">Food</a>
                            <a href="index-7.html" title="">Gallery</a>
                            <a href="index-7.html" title="">Garden</a>
                            <a href="index-7.html" title="">Halim</a>
                            <a href="index-7.html" title="">Home</a>
                            <a href="index-7.html" title="">Local Halim</a>
                            <a href="index-7.html" title="">mountains</a>
                            <a href="index-7.html" title="">Puran Dhaka</a>
                            <a href="index-7.html" title="">Recipe</a>
                            <a href="index-7.html" title="">Series</a>
                            <a href="index-7.html" title="">Shoes</a>
                            <a href="index-7.html" title="">soap</a>
                            <a href="index-7.html" title="">Style</a>
                            <a href="index-7.html" title="">Tree</a>
                        </div>
                    </aside>

                </div>
            </div>
            <!--sidebar end-->

		</div>
	</div>
	<!--/blog end-->

    <!--instafeed carousel start-->
    <div class="instafeed-carousel">
        <h3 class="text-center instafeed-title">Follow Rosy @instagram</h3>
        <div id="instafeed" class="owl-carousel owl-theme">
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed1.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed2.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed3.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed4.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed5.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed6.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed7.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed8.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="index-7.html">
                    <img class="img-responsive" src="images/instafeed9.jpg">
                </a>
            </div>
        </div>
    </div>
    <!--/instafeed carousel end-->

	<!--footer start-->
	<footer id="footer">
		<div class="footer-social text-center">
			<a class="facebook" href="index-7.html#" target="_blank"><i class="fa fa-facebook"></i> <span class="hidden-sm hidden-xs">Facebook</span></a>
			<a class="twitter" href="index-7.html#" target="_blank"><i class="fa fa-twitter"></i> <span class="hidden-sm hidden-xs">Twitter</span></a>
			<a class="google-plus" href="index-7.html#" target="_blank"><i class="fa fa-google-plus"></i> <span class="hidden-sm hidden-xs">Google+</span></a>
			<a class="pinterest" href="index-7.html#" target="_blank"><i class="fa fa-pinterest-p"></i> <span class="hidden-sm hidden-xs">Pinterest</span></a>
			<a class="instagram" href="index-7.html#" target="_blank"><i class="fa fa-instagram"></i> <span class="hidden-sm hidden-xs">Instagram</span></a>
			<a class="bloglovin" href="index-7.html#" target="_blank"><i class="fa fa-heart"></i> <span class="hidden-sm hidden-xs">Bloglovin</span></a>
		</div><!-- /Footer Social -->
		
		<div class="footer-copy-right">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copy-right-text pull-left">
							<p>Copyright 2015 - Desinged by <a href="index-7.html">ShapedTheme</a> in Dhaka, Bangladesh</p>
						</div><!-- /Copyright Text -->
						
						<div class="scroll-up pull-right">
					        <a href="index-7.html#">Back to top</a>
					    </div>
						<!-- Scroll Up -->
					</div>
				</div>
			</div>
		</div><!-- Footer Copy Right -->
	</footer>
	<!--/footer end-->


	<!-- js files -->
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/masonry.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="js/jquery.slicknav.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>