<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rubel Miah">
	
	<!-- favicon icon -->
	<link rel="shortcut icon" href="images/icon/favicon.png">

	<title>Rosy - Beautiful HTML5 Blog Template</title>

	<!-- common css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/slicknav.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

	<!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.js"></script>
    <![endif]-->

</head>

<body class="single blog">

	<!--preloader start-->
    <div id="st-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>
	<!--/preloader end-->

	<!--header start-->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-menu-are">
						<div id="navigation-wrapper">
							<ul class="top-menu text-center">
								<li class=""><a href="index.html">Home</a>
									<ul class="sub-menu">
										<li><a href="index.html">Home 1</a></li>
										<li><a href="index-2.html">Home 2</a></li>
										<li><a href="index-3.html">Home 3</a></li>
										<li><a href="index-4.html">Home 4</a></li>
										<li><a href="index-5.html">Home 5</a></li>
										<li><a href="index-6.html">Home 6</a></li>
										<li><a href="index-7.html">Home 7</a></li>
										<li><a href="index-8.html">Home 8</a></li>
									</ul>
								</li>
								<li><a href="single-audio-blog.html#">Features</a>
									<ul class="sub-menu">
										<li><a href="single-blog.html">Standard Post</a></li>
										<li><a href="single-gallery-blog.html">Gallery Post</a></li>
										<li><a href="single-video-blog.html">Video Post</a></li>
										<li><a href="single-audio-blog.html">Audio Post</a></li>
										<li><a href="404.html">404 Page</a></li>
										<li><a href="archive.html">Archive</a></li>
									</ul>
								</li>
								<li><a href="single-audio-blog.html#">Lifestyle</a></li>
								<li><a href="single-audio-blog.html#">Recipes</a></li>
								<li><a href="single-audio-blog.html#">Travel</a></li>
								<li><a href="about.html">About Me</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>					
						</div>
					</div>
					<div class="menu-mobile"></div>
				</div>
			</div>
		</div>
	</header>
	<!--/header end-->
	
	<div class="main-logo text-center">
		<a href="single-audio-blog.html#"><img src="images/logo.png" alt="Rosy"></a>
	</div>


	<!--blog start-->
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<!--post start-->
					<div class="col-md-12">  
    					<article class="post hentry">
			                <div class="thumbnails">
			                	<div class="entry-audio">
			                		<iframe width="100%" height="384" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34440266&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			                	</div>
			                </div>
							<div class="post-content-area">
								<header class="entry-header text-center">
                                    <div class="post-cat"><a href="single-audio-blog.html#" rel="category tag">Food</a></div>
                                	<div class="entry-title">Day Started with Coffe</div>  
								</header> <!--/.entry-header -->

								<div class="entry-content">
                					<p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus</p>
                					<p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus</p>
                					<p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus</p>
                					<p>Lorem ipsum dolor sit amet, consect adipis elit. Aenean comm ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus</p>
                            	</div><!-- .entry-content -->

                            	<div class="entry-meta text-center">
                            		<div class="share-this hidden-xs">Share this</div>
                                    <span class="posted-on">10 August, 2015</span>
									<div class="post-social-button">
										<ul>
											<li>
												<a class="facebook" href="single-audio-blog.html#"><i class="fa fa-facebook"></i></a>
											</li>

											<li>
												<a class="twitter" href="single-audio-blog.html#"><i class="fa fa-twitter"></i></a>
											</li>

											<li>
												<a class="g-puls" href="single-audio-blog.html#"><i class="fa fa-google-plus"></i></a>
											</li>

											<li>
												<a class="linkedin" href="single-audio-blog.html#"><i class="fa fa-linkedin"></i></a>
											</li>

											<li>
												<a class="pinterest" href="single-audio-blog.html"><i class="fa fa-pinterest"></i></a>
											</li>

											<li>
												<a class="envelope" href="single-audio-blog.html"><i class="fa fa-envelope-o"></i></a>
											</li>
										</ul>
									</div>
                                    <span class="post-comment"><a href="single-audio-blog.html#">5 Comments</a></span>
                                </div><!-- .entry-meta -->

        					</div>
					    </article>

					    <nav class="next-previous-post clearfix media" role="navigation">
			                <div class="row">
			                    <!-- Previous Post -->
			                    <div class="previous-post col-sm-6 pull-left">
			                        <div class="nav-previous"><i class="fa fa-angle-left"></i> <a href="single-audio-blog.html#" rel="prev">Hello world!</a>
			                        </div>                    
			                    </div>

			                    <!-- Next Post -->
			                    <div class="next-post col-sm-6 pull-right text-right">
			                        <div class="nav-next"><a href="single-audio-blog.html#" rel="next">Shihoron by Miftah Zaman</a> <i class="fa fa-angle-right"></i></div>                    
			                    </div>
			                </div>
			            </nav><!-- /.navigation -->

			            <div class="user-profile text-center">
    						<div class="author-avater">
        						<img alt="" src="images/author.png" class="img-responsive">    
        					</div>
						    <div class="profile-heading">
						        <p class="story">Article by</p>
						        <a href="single-audio-blog.html#" title="Posts by Rosy" rel="author">Rosy</a>    
						    </div>
						    <div class="author-description">
						        Hello, my name is Ashley. I am a food blogger based in Los Angeles. This is a blog, where I post my photos, ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh recipes and tips about.    
						    </div>
						    <ul class="author-social-profile">
						        <li><a href="single-audio-blog.html#"><i class="fa fa-facebook"></i></a></li>
						        <li><a href="single-audio-blog.html#"><i class="fa fa-twitter"></i></a></li>
						        <li><a href="single-audio-blog.html#"><i class="fa fa-google-plus"></i></a></li>
						        <li><a href="single-audio-blog.html#"><i class="fa fa-linkedin"></i></a></li>
						        <li><a href="single-audio-blog.html#"><i class="fa fa-tumblr"></i></a></li>
						        <li><a href="single-audio-blog.html#"><i class="fa fa-pinterest"></i></a></li>
						        <li><a href="http://#"><i class="fa fa-globe"></i></a></li>    
						    </ul>
						</div><!-- /.user-profile -->

						<div class="related-posts"> 
        					<h3 class="common-title">You might also like</h3>
        					<div class="row">
                            	<div class="col-sm-4">
									<div class="single-related-posts">
                    					<a href="single-audio-blog.html#" title="Standard Series on One morning">
                                            <img width="590" height="390" src="images/latest-post1.jpg" class="img-responsive" alt="">
                                        </a>
                						<header>
                        					<h3><a href="single-audio-blog.html#">Standard Series on…</a></h3>
                        					<p>Aug 10, 2015</p>
                    					</header>
                					</div> 
                				</div>
                            	<div class="col-sm-4">
									<div class="single-related-posts">
                    					<a href="single-audio-blog.html#" title="Standard Series on One morning">
                                            <img width="590" height="390" src="images/latest-post2.jpg" class="img-responsive" alt="">
                                        </a>
                						<header>
                        					<h3><a href="single-audio-blog.html#">Standard Series on…</a></h3>
                        					<p>Aug 10, 2015</p>
                    					</header>
                					</div> 
                				</div>
                            	<div class="col-sm-4">
									<div class="single-related-posts">
                    					<a href="single-audio-blog.html#" title="Standard Series on One morning">
                                            <img width="590" height="390" src="images/latest-post3.jpg" class="img-responsive" alt="">
                                        </a>
                						<header>
                        					<h3><a href="single-audio-blog.html#">Standard Series on…</a></h3>
                        					<p>Aug 10, 2015</p>
                    					</header>
                					</div> 
                				</div>
                    		</div>
    					</div><!-- /.related-posts -->

    					<div id="comments" class="comments-area comments">
    						<div id="respond" class="comment-respond">
								<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
								<form action="single-audio-blog.html" method="post" id="commentform" class="comment-form row">
									<div class="col-md-4">
										<input id="author" name="author" type="text" placeholder="Name *" value="" size="30" aria-required="true">
									</div>
									<div class="col-md-4">
										<input id="email" name="email" type="text" placeholder="Email *" value="" size="30" aria-required="true">
									</div>
									<div class="col-md-4">
										<input id="url" name="url" type="text" placeholder="Website" value="" size="30">
									</div>
									<div class="col-md-12">
										<textarea id="comment" placeholder="Write your comment..." name="comment" aria-required="true"></textarea>
									</div>						
									<p class="form-submit col-md-12">
										<input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
									</p>					
								</form>
							</div><!-- #respond -->
						</div>

					</div>
					<!--/post end-->

				</div>
			</div> <!-- /col -->



			<!--sidebar start-->
			<div class="col-md-4">
	    		<div class="primary-sidebar widget-area" role="complementary">

	        		<aside id="shapedtheme_about_widget-2" class="widget shapedtheme_about_widget">			
						<div class="about-widget">
							<img class="img-responsive" src="images/about.png" alt="About Rosy" />
							<div class="about-me-title text-center">About Rosy</div>
							<div class="about-me-content">
								Hello, my name is Rosy. I am a food blogger based in Los Angeles. This is a blog, where I post my photos, recipes and tips about.
							</div>
	            			<div class="social-link text-center">
                                <a href="single-audio-blog.html#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="single-audio-blog.html#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="single-audio-blog.html#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="single-audio-blog.html#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                                <a href="single-audio-blog.html#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="single-audio-blog.html#" class="bloglovin"><i class="fa fa-heart"></i></a>    
	            			</div>
						</div>
					</aside>

					<aside class="widget widget_search">
						<form role="search" method="get" id="searchform" action="single-audio-blog.html">
	    					<div> 
	    						<input type="text" placeholder="Search here..." name="s" id="s" />
								<button class="submit"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</aside>

					<aside class="widget">
						<h1 class="widget-title">Photos on Flickr</h1>
						<div id="st-pinterest-widget-container">
							<div class="st-pinterest">
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest1.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest10.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest3.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest4.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest5.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest6.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest7.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest8.jpg" alt="" title="" /></a>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-6">
										<a href="single-audio-blog.html#"><img src="images/pinterest9.jpg" alt="" title="" /></a>
									</div>
        						</div>
        					</div>
						</div>
					</aside>

			        <aside class="widget">
			        	<h1 class="widget-title">Latest Posts</h1>
				        <div class="latest-posts latest">
					        <div class="media">
						        <div class="latest-post-thumb">
						        	<a href="single-audio-blog.html#"><img src="images/latest-post1.jpg" class="img-responsive" alt="" /></a>
						        </div>
						        <div class="media-body">
							        <div class="entry-meta">
							        	<a href="single-audio-blog.html#" rel="category tag">Food</a>
							        </div>
							        <h3 class="entry-title"><a href="single-audio-blog.html#">Day Started with Coffe</a></h3>
						        </div>
					        </div>
					        <div class="media">
						        <div class="latest-post-thumb">
						        	<a href="single-audio-blog.html#"><img src="images/latest-post2.jpg" class="img-responsive" alt="" /></a>
						        </div>
						        <div class="media-body">
							        <div class="entry-meta">
							        	<a href="single-audio-blog.html#" rel="category tag">Food</a>
							        </div>
							        <h3 class="entry-title"><a href="single-audio-blog.html#">Day Started with Coffe</a></h3>
						        </div>
					        </div>
					        <div class="media">
						        <div class="latest-post-thumb">
						        	<a href="single-audio-blog.html#"><img src="images/latest-post3.jpg" class="img-responsive" alt="" /></a>
						        </div>
						        <div class="media-body">
							        <div class="entry-meta">
							        	<a href="single-audio-blog.html#" rel="category tag">Food</a>
							        </div>
							        <h3 class="entry-title"><a href="single-audio-blog.html#">Day Started with Coffe</a></h3>
						        </div>
					        </div>
					        <div class="media">
						        <div class="latest-post-thumb">
						        	<a href="single-audio-blog.html#"><img src="images/latest-post4.jpg" class="img-responsive" alt="" /></a>
						        </div>
						        <div class="media-body">
							        <div class="entry-meta">
							        	<a href="single-audio-blog.html#" rel="category tag">Food</a>
							        </div>
							        <h3 class="entry-title"><a href="single-audio-blog.html#">Day Started with Coffe</a></h3>
						        </div>
					        </div>
				        </div>
			        </aside>

			        <aside class="widget">
			        	<h1 class="widget-title">Subscribe</h1>
			        	<div class="form mc4wp-form">
			        		<form method="post" >
			        			<input type="email" name="email" placeholder="Your email address" />
								<input type="submit" value="&#xf003;" />
							</form>
						</div>
					</aside>

					<aside class="widget">
						<h1 class="widget-title">Tags</h1>
						<div class="tagcloud">
							<a href="single-audio-blog.html" title="">Camera</a>
							<a href="single-audio-blog.html" title="">Food</a>
							<a href="single-audio-blog.html" title="">Gallery</a>
							<a href="single-audio-blog.html" title="">Garden</a>
							<a href="single-audio-blog.html" title="">Halim</a>
							<a href="single-audio-blog.html" title="">Home</a>
							<a href="single-audio-blog.html" title="">Local Halim</a>
							<a href="single-audio-blog.html" title="">mountains</a>
							<a href="single-audio-blog.html" title="">Puran Dhaka</a>
							<a href="single-audio-blog.html" title="">Recipe</a>
							<a href="single-audio-blog.html" title="">Series</a>
							<a href="single-audio-blog.html" title="">Shoes</a>
							<a href="single-audio-blog.html" title="">soap</a>
							<a href="single-audio-blog.html" title="">Style</a>
							<a href="single-audio-blog.html" title="">Tree</a>
						</div>
					</aside>

				</div>
			</div>
			<!--sidebar end-->

		</div>
	</div>
	<!--/blog end-->

    <!--instafeed carousel start-->
    <div class="instafeed-carousel">
        <h3 class="text-center instafeed-title">Follow Rosy @instagram</h3>
        <div id="instafeed" class="owl-carousel owl-theme">
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed1.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed2.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed3.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed4.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed5.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed6.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed7.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed8.jpg">
                </a>
            </div>
            <div class="item">
                <a class="animation" href="single-audio-blog.html">
                    <img class="img-responsive" src="images/instafeed9.jpg">
                </a>
            </div>
        </div>
    </div>
    <!--/instafeed carousel end-->

	<!--footer start-->
	<footer id="footer">
		<div class="footer-social text-center">
			<a class="facebook" href="single-audio-blog.html#" target="_blank"><i class="fa fa-facebook"></i> <span class="hidden-sm hidden-xs">Facebook</span></a>
			<a class="twitter" href="single-audio-blog.html#" target="_blank"><i class="fa fa-twitter"></i> <span class="hidden-sm hidden-xs">Twitter</span></a>
			<a class="google-plus" href="single-audio-blog.html#" target="_blank"><i class="fa fa-google-plus"></i> <span class="hidden-sm hidden-xs">Google+</span></a>
			<a class="pinterest" href="single-audio-blog.html#" target="_blank"><i class="fa fa-pinterest-p"></i> <span class="hidden-sm hidden-xs">Pinterest</span></a>
			<a class="instagram" href="single-audio-blog.html#" target="_blank"><i class="fa fa-instagram"></i> <span class="hidden-sm hidden-xs">Instagram</span></a>
			<a class="bloglovin" href="single-audio-blog.html#" target="_blank"><i class="fa fa-heart"></i> <span class="hidden-sm hidden-xs">Bloglovin</span></a>
		</div><!-- /Footer Social -->
		
		<div class="footer-copy-right">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copy-right-text pull-left">
							<p>Copyright 2015 - Desinged by <a href="single-audio-blog.html">ShapedTheme</a> in Dhaka, Bangladesh</p>
						</div><!-- /Copyright Text -->
						
						<div class="scroll-up pull-right">
					        <a href="single-audio-blog.html#">Back to top</a>
					    </div>
						<!-- Scroll Up -->
					</div>
				</div>
			</div>
		</div><!-- Footer Copy Right -->
	</footer>
	<!--/footer end-->


	<!-- js files -->
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/masonry.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="js/jquery.slicknav.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>