<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin/**" access="hasAnyRole('MANAGER','ADMIN')"/>
        <intercept-url pattern="/fix/**" access="hasAnyRole('ADMIN')"/>

        <form-login login-page="/login" authentication-failure-url="/loginerror" default-target-url="/"/>
        <logout logout-url="/logout" logout-success-url="/login" invalidate-session="true" delete-cookies="true"/>
        <remember-me key="eiasKey" token-validity-seconds="8640000" user-service-ref="userDetails"/>
    </http>

    <beans:bean id="userDetails" class="by.havefun.security.MyUserDetails"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetails"/>
    </authentication-manager>

</beans:beans>