.top-banner-main-container {
  overflow: hidden;
  width: 880px;
  height: 90px;
  margin: 0 auto 20px;
  position: relative
}

.top-banner-main-container .bx-viewport {
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px
}

.top-banner-main-container .banners-slider {
  position: relative;
  display: block;
}

.top-banner-main-container .banners-slider li {
  display: block
}

.top-banner-main-container .banners-slider li .banner-img {
  display: block;
  overflow: hidden;
  width: 880px;
  height: 90px
}

.top-banner-main-container .banners-slider li .banner-img img {
  width: 880px;
  height: 90px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px
}

.top-banner-main-container .banners-slider li .banner-text {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 250px
}

.top-banner-main-container .banners-slider li .banner-text h3 {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0;
  line-height: 22px;
  color: #db3727
}

.top-banner-main-container .banners-slider li .banner-text h3 a {
  color: #db3727
}

.top-banner-main-container .banners-slider li .banner-text h3 a:hover {
  color: #cf7a19
}

.top-banner-main-container .banners-slider li .banner-text span.date {
  font-family: Humanist;
  display: block;
  padding-bottom: 10px;
  color: #666;
  font-size: 15px
}

.top-banner-main-container .banners-slider li .tons-w {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 40px;
  height: 54px;
}

.top-banner-main-container .bx-controls {
  position: absolute;
  left: 15px;
  bottom: 15px
}

.top-banner-main-container .bx-controls .bx-pager .bx-pager-item {
  float: left;
  margin-right: 3px
}

.top-banner-main-container .bx-controls .bx-pager .bx-pager-item a {
  display: block;
  width: 10px;
  height: 10px;
  background: #e5e4e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 0
}

.top-banner-main-container .bx-controls .bx-pager .bx-pager-item a:hover {
  background: #ababab
}

.top-banner-main-container .bx-controls .bx-pager .bx-pager-item a.active, .top-banner-main-container .bx-controls .bx-pager .bx-pager-item a.active:hover {
  background: #db3727
}

.no-banner {
  padding-top: 20px !important;
}

.top-banner {
  background-color: #f8f8f8;
}
