<!--banner-->
<div class="top-banner top-banner-main-container" routerLink="/event/1056" style="background-color: #f8f8f8;">
  <div class="bx-wrapper" style="max-width: 100%;">
    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 90px;">
      <a class="banner-img" routerLink="/event/1056">
        <img src="https://pp.userapi.com/c847121/v847121078/ebc88/UZxV5GYrlwU.jpg">
      </a>
      <div class="banner-text">
        <h3>
          <a routerLink="/event/1056" style="color: #fff">Tequilajazzz!</a>
        </h3>
        <span class="date" style="color: #fff">пятница, 9 ноября 2018 г., 19:00</span>
      </div>
      <div class="tons-w"></div>
    </div>
  </div>
</div>
<!--end banner-->
