<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${@environment.getProperty('club.site.domain')} + '/event/' + ${event.id}">
    <meta property="og:title" th:content="${event.name}">
    <meta property="og:description" th:content="${event.description}">
    <meta property="og:image" th:content="${@environment.getProperty('club.site.domain')} + ${event.coverUri}">
</head>
<body>

</body>
</html>