<div class="container">
  <h2>Добро пожаловать в личный кабинет</h2>
  <form autocomplete="off" method="POST">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="username-span" >Имя пользователя</span>
      </div>
      <input type="text" class="form-control" name="username" placeholder="Введите имя пользователя" id="username"
             [(ngModel)]="user.username" #username="ngModel" aria-label="Username" aria-describedby="username">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="password-span">Пароль</span>
      </div>
      <input type="password" class="form-control" name="password" placeholder="Введите пароль!" id="password"
             [(ngModel)]="user.password" #password="ngModel" aria-label="Password" aria-describedby="Введите пароль">
    </div>

    <span [hidden]="!passwordError">  Неверное имя пользователя или пароль, попробуйте снова</span>
    <span [hidden]="passwordError"></span>


    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="singUpClick()">Войти</button>
  </form>

</div>
