.club-order-area {
  float: right;
  border:1px solid black;
}

.club-order-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /*border-radius: 0.25rem;*/
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #f8f8f8;
}

.club-order-count {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid ;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /*border-radius: 0.25rem;*/
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #d5ffd4;
}
