<div *ngFor="let categoryMain of menuCategories">
  <h1>
    {{categoryMain.name}}<i class="h-line"></i><span class="desc">{{categoryMain.description}}</span>
  </h1>
  <div *ngFor="let category of categoryMain.categories">
    <h3>{{category.name}}</h3>
    <ul class="info-list menu-list">
      <li *ngFor="let item of category.menuItems">

        <span class="club-order-area">
          <div class="club-order-btn" title="Увеличить кол-во элементов"
               (click)="increment(item)">+</div>
          <div class="club-order-count">
            {{item.count}}
          </div>
          <div class="club-order-btn" title="Уменьшить кол-во элементов"
               (click)="decrement(item)">-</div>
        </span>
        <span class="title">
          <b>{{item.name}}</b><br>
          <i>{{item.description}}</i><br>
          {{item.descriptionProportions}}<br>
          <b>{{item.price}} BYN</b>
        </span>
      </li>
    </ul>
  </div>
</div>
<h1 [(ngModel)]="order.food">Всего {{totalMoney}} рублей</h1>
