.club-order-ticket-area {
  float: right;
  border: 1px solid black;
}

.club-order-ticket-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /*border-radius: 0.25rem;*/
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #f8f8f8;
}

.club-order-ticket-count {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /*border-radius: 0.25rem;*/
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #d5ffd4;
}


.aimg {
  position: absolute;
  opacity: .5;
  z-index: 999
}

.area-map {
  background-color: #dde0e7;
  background-repeat: no-repeat;
  background-image: url('/assets/img/club_plan_clear.png');
  position: relative;
  width: 600px;
  height: 420px;
}

.area-club-scene {
  height: 60px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  z-index: 2
}

.area-down-bar {
  position: absolute;
  height: 60px;
  width: 50px;
  left: 473px;
  top: 27px;
  transform: rotate(-4deg);
}

.area-console {
  height: 30px;
  position: absolute;
  top: 119px;
  left: 123px;
  width: 353px;
  display: flex;
  justify-content: center;
}

.area-top-dance {
  height: 120px;
  position: absolute;
  width: 456px;
  left: 78px;
}

.area-stairs {
  height: 223px;
  width: 600px;
  display: inline-block;
  position: absolute;
  top: 201px
}

.area-console .area-table:nth-child(1) {
  margin-left: 11px;
}

.area-console .area-table:nth-child(2) {
  margin-left: 9px;
}

.area-console .area-table:nth-child(3) {
  margin-left: 9px;
}

.area-console .area-table:nth-child(4) {
  margin-left: 5px;
}

.area-console .area-table:nth-child(5) {
  margin-left: 9px;
}

.area-console .area-table:nth-child(6) {
  margin-left: 5px;
}

.area-console .area-table:nth-child(7) {
  margin-left: 3px;
}

.area-console .area-table:nth-child(9) {
  margin-left: 2px;
  margin-right: 5px;
}

.area-table {
  position: relative;
}

.area-table::after {
  position: absolute;
  left: 5px;
  width: 12px;
  height: 12px;
  bottom: -17px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

.area-console .area-table:nth-child(1)::after {
  content: '18'
}

.area-console .area-table:nth-child(2)::after {
  content: '19'
}

.area-console .area-table:nth-child(3)::after {
  content: '20'
}

.area-console .area-table:nth-child(4)::after {
  content: '21'
}

.area-console .area-table:nth-child(6)::after {
  content: '22'
}

.area-console .area-table:nth-child(7)::after {
  content: '23'
}

.area-console .area-table:nth-child(8)::after {
  content: '24'
}

.area-console .area-table:nth-child(9)::after {
  content: '25'
}

.area-console .area-table {
  margin-top: 8px;
}

.area-table {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  border: #b0b0b0;
  display: flex;
}

.area-console-control {
  width: 55px;
  height: 50px;
  float: left;
}

.area-table-place {
  background-image: url('/assets/img/club_plan_place.png');
  background-position: 13px 0;
  width: 13px;
  height: 13px;
  border-radius: 0;
  margin: 0
}

.area-table-place-free {

}

.area-table-place-booking {
  background-position: 0 0px;
}

.area-table-place-busy {
  background-position: 0 0;
  cursor: not-allowed;
}

.area-table-place-free:hover {
  cursor: pointer;
}

.area-table-place-booking:hover {
  cursor: pointer;
  background-position: 0 13px;
}

.table-right {
  float: right;
}

.area-table-line:nth-child(1) .area-table-place:nth-child(2) {
  transform: rotate(270deg)
}

.area-table-line:nth-child(2) .area-table-place:nth-child(1) {
  transform: rotate(90deg)
}

.area-table-line:nth-child(2) .area-table-place:nth-child(2) {
  transform: rotate(180deg)
}

.table-left {
  float: left;
}

.area-table-line {
  display: inline-block;
  height: 13px;
}

.area-stairs-left {
  width: 360px;
  height: 223px;
  display: inline-block;
}

.area-stairs-right {
  width: 200px;
  height: 120px;
  float: right;
  display: inline-block;
}

.area-left {
  position: relative;
}

.area-stairs-right-row-first .area-left .area-table {
  position: absolute;
  left: -12px;
  top: 10px;
}

.area-stairs-right-row-first .area-left .area-table::after {
  content: '17'
}

.area-stairs-right-row-second .area-left .area-table {
  position: absolute;
  left: -12px;
  top: 75px;
}

.area-stairs-right-row-second .area-left .area-table::after {
  content: '11'
}

.area-stairs-middle {
  width: 45px;
  height: 223px;
  margin-left: -35px;
  display: inline-block;
}

.area-stairs-left-row-first {
  position: absolute;
  width: 210px;
  top: -20px;
  left: 120px;
  text-align: center;
  display: flex;
}

.area-stairs-left-row-first .area-table:nth-child(1) {
  margin-top: 18px;
}

.area-stairs-left-row-first .area-table:nth-child(2) {
  margin-top: 25px;
}

.area-stairs-left-row-first .area-table:nth-child(3) {
  margin-top: 28px;
}

.area-stairs-left-row-first .area-table:nth-child(4) {
  margin-top: 29px;
}

.area-stairs-left-row-first .area-table:nth-child(5) {
  margin-top: 30px;
}

.area-stairs-left-row-first .area-table:nth-child(1)::after {
  content: '12'
}

.area-stairs-left-row-first .area-table:nth-child(2)::after {
  content: '13'
}

.area-stairs-left-row-first .area-table:nth-child(3)::after {
  content: '14'
}

.area-stairs-left-row-first .area-table:nth-child(4)::after {
  content: '15'
}

.area-stairs-left-row-first .area-table:nth-child(5)::after {
  content: '16'
}

.area-stairs-right-row-first {
  width: 200px;
  float: right;
}

.area-stairs-left-row-third {
  left: 76px;
  top: 152px;
  width: 195px;
}

.area-stairs-left-row-third .area-table:nth-child(1)::after {
  content: '1'
}

.area-stairs-left-row-third .area-table:nth-child(2)::after {
  content: '2'
}

.area-stairs-left-row-third .area-table:nth-child(3)::after {
  content: '3'
}

.area-stairs-left-row-third .area-table:nth-child(4)::after {
  content: '4'
}

.area-stairs-left-row-third .area-table:nth-child(1) {
  margin-top: 0px;
}

.area-stairs-left-row-third .area-table:nth-child(2) {
  margin-top: 6px;
}

.area-stairs-left-row-third .area-table:nth-child(3) {
  margin-top: 12px;
}

.area-stairs-left-row-third .area-table:nth-child(4) {
  margin-top: 12px;
}

.area-stairs-left-row-second .area-table .area-table-line:nth-child(1) .table-left {
  transform: rotate(0deg)
}

.area-stairs-left-row-second .area-table .area-table-line:nth-child(1) .table-right {
  transform: rotate(270deg)
}

.area-stairs-right-row-second .area-table .area-table-line:nth-child(1) .table-left {
  transform: rotate(0deg)
}

.area-stairs-right-row-second .area-table .area-table-line:nth-child(1) .table-right {
  transform: rotate(270deg)
}

.area-stairs-left-row-second .area-table:nth-child(1) {
  margin-top: -7px;
}

.area-stairs-left-row-second .area-table:nth-child(2) {
  margin-top: 1px;
}

.area-stairs-left-row-second .area-table:nth-child(3) {
  margin-top: 5px;
}

.area-stairs-left-row-second .area-table:nth-child(4) {
  margin-top: 7px;
}

.area-stairs-left-row-second .area-table:nth-child(5) {
  margin-top: 8px;
}

.area-stairs-left-row-second .area-table:nth-child(6) {
  margin-top: 10px;
}

.area-stairs-left-row-second .area-table:nth-child(1)::after {
  content: '5'
}

.area-stairs-left-row-second .area-table:nth-child(2)::after {
  content: '6'
}

.area-stairs-left-row-second .area-table:nth-child(3)::after {
  content: '7'
}

.area-stairs-left-row-second .area-table:nth-child(4)::after {
  content: '8'
}

.area-stairs-left-row-second .area-table:nth-child(5)::after {
  content: '9'
}

.area-stairs-left-row-second .area-table:nth-child(6)::after {
  content: '10'
}

.area-stairs-left-row-second .area-table::nth-child(1) {
  transform: rotate(180deg)
}

.area-stairs-left-row-second {
  left: 95px;
  top: 80px;
  width: 235px;
}

.area-stairs-left-row-third, .area-stairs-left-row-second {

  display: flex;
  position: absolute;

}

.area-nothing-third {
  width: 200px;
  height: 120px;
}

.area-nothing-second {
  width: 100px;
  height: 120px;
  float: right;
}

.area-left {
  float: left;
}

.area-stairs-right-row-second {
  width: 200px;
  float: right;
}
