<div class="content-wrapper">
  <div class="block menu-page info-page">

    <form [hidden]="!wrapper.edited" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control"
               id="name"
               required
               [(ngModel)]="model.name"
               name="name"
               #name="ngModel"
               placeholder="Как к Вам обращаться?"
        >
      </div>

      <div class="form-group">
        <label for="phone">Email aдрес</label><br>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="model.email"
               required
               name="email"
               #email="ngModel"
               placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Мы никому не расскажем ваш емеил.</small>
      </div>


      <div class="form-group">
        <label for="phone">Номер мобильного телефона</label><br>
        <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" [(ngModel)]="model.phone"
               required
               name="phone"
               #phone="ngModel"
               placeholder="Enter phone">
        <small id="phoneHelp" class="form-text text-muted">Мы свяжемся с вами как можно скорее.</small>
      </div>

      <div class="form-group">
        <label for="description">Комментарий</label>
        <textarea type="text" class="form-control" id="description"

                  required
                  [(ngModel)]="model.description"
                  name="description"
                  #description="ngModel"
                  placeholder="Что случилось и что подсказать?!"> </textarea>
      </div>

      <br>
      <button type="submit" (click)="order()" class="btn btn-primary">Отправить</button>
    </form>

    <form [hidden]="wrapper.edited" #heroForm="ngForm">

      <h1 style="color: red">Сообщение отправлено</h1>
    </form>

    <div class="clearfix"></div>
  </div>
</div>
