<p style="text-align: center;">&nbsp;
  <a title="RE:PUBLIC в VK" href="https://vk.com/republic_club" target="_blank"><img
    src="assets/img/vk_logo.jpg" alt="" width="50" height="50"></a>&nbsp;&nbsp;<a
    title="RE:PUBLIC на Facebook" href="https://www.facebook.com/RePub" target="_blank"><img
    src="assets/img/fb_icon.png" alt="" width="50" height="50"></a>&nbsp;&nbsp;<a
    title="Instagram @republic.club" href="https://instagram.com/republic.clubminsk" target="_blank"><img
    src="assets/img/insta_logo.png" alt="" width="50" height="51"></a>&nbsp;<a
    href="http://republic.joomla.by/"><img src="assets/img/360.jpg" alt="" width="130" height="54"></a></p>

<!--footer-->
<div class="footer">
  <div class="container">

    <p class="desc">
      КЛУБ ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО ИЗМЕНЯТЬ И ДОПОЛНЯТЬ ТЕКУЩУЮ ПРОГРАММУ МЕРОПРИЯТИЙ
    </p>
    <p>
      Минск ул. Притыцкого 62. ст. м. Кунцевщина. Телефон +375 29 110 35 35.<br>
      Мы работаем круглосуточно.
      <br>
      Юридическая информация:<br>
      Индивидуальный предприниматель Старцев Андрей Валентинович<br>
      Свидетельство №190462465 выдано Минским горисполкомом 30 января 2015<br>
      Адрес:220131 РБ г. г. Минск, ул. Мирошниченко, 3б, кв.44<br>
      УНП 190462465<br>

      Р/с 3013239400013 ЗАО «МТБанк», код 117<br>
      220033, г. Минск, пр. Партизанский, д. 6А<br>

      тел/факс +375 17 290 86 90<br>
      <br>
      Все материалы © RE:PUBLIC. При цитировании ссылка на сайт обязательна.<br>
      © republic-club.by 2012–{{currentYear}} г.
      <br><a href="//bepaid.by" target="_blank" ><img src="assets/img/footer-belcard.png" height="82" width="769"/></a>
      <br><a href="//mtbank.by" target="_blank" ><img src="assets/img/mtbank.png"/></a>
    </p>
  </div>
</div>
<!--end footer-->
