.footer {
  background: #4a4a4a;
  padding: 40px;
  height: 450px;
  text-align: center;
  color: #fff
}

.footer .desc {
  color: #ababab;
  font-family: 'Humanist-bold';
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 80px
}
