<!--footer-->
<div class="footer">
  <div class="container">
    <p class="desc">
      КЛУБ ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО ИЗМЕНЯТЬ И ДОПОЛНЯТЬ ТЕКУЩУЮ ПРОГРАММУ МЕРОПРИЯТИЙ
    </p>
    <p>
      Минскб ул. Притыцкого 62. ст. м. Кунцевщина. Телефон +375 29 110 35 35.<br>
      Мы работаем круглосуточно.
      <br>
      Юридическая информация:<br>
      Индивидуальный предприниматель Старцев Андрей Валентинович<br>
      Свидетельство №190462465 выдано Минским горисполкомом 30 января 2015<br>
      Адрес:220131 РБ г. г. Минск, ул. Мирошниченко, 3б, кв.44<br>
      УНП 190462465<br>

      Р/с 3013239400013 ЗАО «МТБанк», код 117<br>
      220033, г. Минск, пр. Партизанский, д. 6А<br>

      тел/факс +375 17 290 86 90<br>
      <br>
      Все материалы © RE:PUBLIC. При цитировании ссылка на сайт обязательна.<br>
      © www.republic-club.by 2012–2017 г.
      <br>
    </p>
  </div>
</div>
<!--end footer-->
