.footer {
  background: #4a4a4a;
  padding: 40px;
  text-align: center;
  color: #fff
}

.footer .desc {
  color: #ababab;
  font-family: 'Humanist-bold';
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.links {
  display: block;
}

.image-belcard {
  max-height: 82px;
  width: 100%;
  max-width: 769px;
}

.image-mtbank {
  max-height: 72px;
  width: 100%;
  max-width: 221px;
}
