<div class="content-wrapper">
  <!--main content-->
  <div [ngClass]="{'main-content': (innerWidth > 1000)}">

    <!--block bill-day-->
    <div class="block bill-day" *ngIf="today?.length > 0">
      <h1>
        Сегодня, {{currentDate}}
        <i class="h-line"></i>
      </h1>
      <div class="row">
        <ul>
          <li *ngFor="let event of today">
            <div class="event">
              <div class="img">
                <a routerLink="/event/{{event.id}}">
                  <img src="{{event.coverUri}}" alt="">
                </a>
              </div>
              <div class="info">
                <span class="time">{{event.startEvent}}</span>
                <h3>
                  <a routerLink="/event/{{event.id}}">
                    {{event.name}}
                  </a>
                </h3>
                <span class="tickets">
              {{event.status}}
            </span>
              </div>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="block bill-day" *ngIf="today?.length == 0">
      <h1 style="color: red">Сегодня мероприятий нет</h1>
    </div>
    <!--end block bill-day-->


    <!--block bill-day-->
    <div class="block bill-day" *ngIf="tomorrow?.length > 0">
      <h1>
        Завтра, {{tomorrowDate}}
        <i class="h-line"></i>
      </h1>
      <div class="row">
        <li *ngFor="let event of tomorrow">
          <div class="event">
            <div class="img">
              <a routerLink="/event/{{event.id}}">
                <img src="{{event.coverUri}}" alt="">
              </a>
            </div>
            <div class="info">
              <span class="time">{{event.startEvent}}</span>
              <h3>
                <a routerLink="/event/{{event.id}}">
                  {{event.name}}
                </a>
              </h3>
              <span class="tickets">
              {{event.status}}
            </span>
            </div>
          </div>
        </li>
        <div class="clearfix"></div>
      </div>
    </div>
    <!--end block bill-day-->


    <h1 *ngIf="currentAndNextWeek?.length > 0">
      Далее в программе
      <i class="h-line"></i>
    </h1>
    <ul class="block bill-farther" *ngIf="currentAndNextWeek?.length > 0">
      <li *ngFor="let event of currentAndNextWeek">
        <div class="event">
          <!--data-words="{{event.name}}"-->
          <div class="img">
            <a routerLink="/event/{{event.id}}">
              <img src="{{event.coverUri}}" alt="">
            </a>
          </div>
          <div class="info">
            <span class="date">{{event.startEvent}}</span>
            <h2>
              <a routerLink="/event/{{event.id}}">
                {{event.name}}
                <span class="type"></span>
              </a>
            </h2>
            <p class="e2e-inner-html-bound" [innerHTML]="event.description">
            </p>
            <div class="tickets">
              <h4>БИЛЕТЫ</h4>
              <a routerLink="/event/{{event.id}}" class="btn order-btn-face">
                Купить билет
              </a>
              <div class="tickets-list">
                <span class="e2e-inner-html-bound" [innerHTML]="event.costText"></span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>


    <!--block bill-month-->
    <div class="block bill-month" *ngIf="currentMonth?.length > 0">
      <h1>
        {{currentMonthName}}
        <i class="h-line"></i>
      </h1>
      <ul class="event-list">
        <li *ngFor="let event of currentMonth"><!--   data-words="{{event.name}}"-->
          <a routerLink="/event/{{event.id}}"
             class="btn order-btn-face fix-w-m">Купить билет</a>
          <div class="info">
            <div class="date">
              <span class="time">{{event.startEvent}}</span><br>
              <span class="day">{{event.endEvent}}</span>
            </div>
            <h3>
              <a routerLink="/event/{{event.id}}">{{event.name}}</a>
              <span class="desc"></span>
            </h3>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
    </div>
    <!--end block bill-month-->

    <!--block bill-month-->
    <div class="block bill-month" *ngIf="nextNextMonth?.length > 0">
      <h1>
        {{nextMonthName}}
        <i class="h-line"></i>
      </h1>
      <ul class="event-list">
        <li *ngFor="let event of nextMonth"><!--   data-words="{{event.name}}"-->
          <a routerLink="/event/{{event.id}}"
             class="btn order-btn-face fix-w-m">Купить билет</a>
          <div class="info">
            <div class="date">
              <span class="time">{{event.startEvent}}</span><br>
              <span class="day">{{event.endEvent}}</span>
            </div>
            <h3>
              <a routerLink="/event/{{event.id}}">{{event.name}}</a>
              <span class="desc"></span>
            </h3>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
    </div>
    <!--end block bill-month-->

    <!--block bill-month-->
    <div class="block bill-month" *ngIf="nextNextMonth?.length > 0">
      <h1>
        {{nextNextMonthName}}
        <i class="h-line"></i>
      </h1>
      <ul class="event-list">
        <li *ngFor="let event of nextNextMonth"><!--   data-words="{{event.name}}"-->
          <a routerLink="/event/{{event.id}}"
             class="btn order-btn-face fix-w-m">Купить билет</a>
          <div class="info">
            <div class="date">
              <span class="time">{{event.startEvent}}</span><br>
              <span class="day">{{event.endEvent}}</span>
            </div>
            <h3>
              <a routerLink="/event/{{event.id}}">{{event.name}}</a>
              <span class="desc"></span>
            </h3>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
    </div>
    <!--end block bill-month-->

  </div>
  <!--end main content-->

  <!--sidebar-->
  <div class="right-sidebar" *ngIf="innerWidth > 1000">

    <!--block last gallery-->
    <div class="block last-gallery">
      <h4><a routerLink="/media" >ПОСЛЕДНИЕ ГАЛЕРЕИ</a></h4>

      <ul class="list">
        <li *ngFor="let galleryEvent of gallery">
          <div class="img">
            <a routerLink="/event-reports/{{galleryEvent.id}}">
              <img src="{{galleryEvent.coverUri}}" alt="">
            </a>
          </div>
          <div class="info">
            <span class="date">{{galleryEvent.startEvent}}</span>
            <h3>
              <a routerLink="/event-reports/{{galleryEvent.id}}">{{galleryEvent.name}}</a>
            </h3>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>

    </div>
    <!--end block last gallery-->

    <!--block interesting-->
    <div class="block interesting">
      <h4>ВОЗМОЖНО, ВАС ТАКЖЕ ЗАИНТЕРЕСУЕТ</h4>

      <ul class="list">
        <li *ngFor="let relevantEvent of relevant">
          <div class="info">
            <span class="month">{{relevantEvent.month}}</span>
            <span class="date">{{relevantEvent.date}}</span>
            <span class="day">{{relevantEvent.day}}</span>
            <span class="time">{{relevantEvent.time}}</span>
          </div>
          <div class="title">
            <div class="img">
              <img src="{{relevantEvent.coverUri}}" alt="" style="background-size: 100%">
              <a routerLink="/event/{{relevantEvent.id}}">{{relevantEvent.name}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--end block interesting-->
  </div>
  <!--end sidebar-->

  <div class="clearfix"></div>
</div>
