<div class="content-wrapper">
  <div class="block menu-page info-page">

    <form [hidden]="!wrapper.edited" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control"
               id="name"
               required
               [(ngModel)]="model.name"
               name="name"
               #name="ngModel"
               placeholder="Как к Вам обращаться?"
        >
      </div>

      <div class="form-group">
        <label for="phone">Email aдрес</label><br>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="model.email"
               required
               name="email"
               #email="ngModel"
               placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Мы никому не расскажем ваш емеил.</small>
      </div>


      <div class="form-group">
        <label for="phone">Номер мобильного телефона</label><br>
        <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" [(ngModel)]="model.phone"
               required
               name="phone"
               #phone="ngModel"
               placeholder="Enter phone">
        <small id="phoneHelp" class="form-text text-muted">Мы сважемся с вами в ближайшее время, после оформления
          заказа.
        </small>
      </div>


      <div class="form-group">
        <label for="event">Выберите мероприятие, которое хотите посетить</label>
        <select id="event"

                required
                [(ngModel)]="model.event"
                name="event"
                #event="ngModel"
                (change)="changeEvent()"
                class="form-control">
          <option selected="selected" value="0">Выберите...</option>
          <option *ngFor="let event of events" [value]="event.id">{{event.name}} - {{event.startEvent}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="arrivalTime">Время вашего прибытия в клуб</label>
        <input type="text" class="form-control" id="arrivalTime"
               [(ngModel)]="model.arrivalTime"
               name="arrivalTime"
               #arrivalTime="ngModel"
               placeholder="Введите время предполагаемого прибытия, для комфортной подачи блюд">
      </div>


      <div class="form-group">
        <label for="people">Количество человек</label>
        <input type="number" class="form-control" id="people"

               required
               [(ngModel)]="model.people"
               name="people"
               #people="ngModel"
               value="1"
               min="0"
               max="100"
               placeholder="Кол-во гостей пришедших с Вами">
      </div>
      <h2>Выберите блюда, сделайте заказ:</h2>
      <div *ngFor="let categoryMain of menuCategories">
        <h1>
          {{categoryMain.name}}<i class="h-line"></i><span class="desc">{{categoryMain.description}}</span>
        </h1>
        <div *ngFor="let category of categoryMain.categories">
          <h3>{{category.name}}</h3>
          <ul class="info-list menu-list">
            <li *ngFor="let item of category.menuItems">
      <span class="title">
      <b>{{item.name}}</b><br>
      <i>{{item.description}}</i><br>
      {{item.descriptionProportions}}
      </span>
              <span class="price"><b>
      {{item.price}} BYN</b>
      <div class="btn" title="Увеличить кол-во элементов"
              (click)="increment(item)">+</div>
      {{item.count}}
      <div class="btn" title="Уменьшить кол-во элементов"
              (click)="decrement(item)">-</div>
      </span>
            </li>
          </ul>
        </div>
      </div>
      <a target="_blank" href="https://bezkassira.by/buy/654/"
         class="btn btn-primary btn-lg active btn-block">Оплатить депозит</a>

      <div class="form-group">
        <label for="bcCode">Код депозита</label>
        <input type="text" class="form-control" id="bcCode"

               required
               [(ngModel)]="model.bcCode"
               name="bcCode"
               #bcCode="ngModel"

               placeholder="Введите код полученный на сайте BezKassira.by">
        <small id="depositRecomend" class="form-text text-muted">Сумма для депозита {{model.depositPrice}}</small>
      </div>

      <div class="form-group">
        <label for="tableNumber">Выберите номер столика</label>
        <select id="tableNumber"

                required
                [(ngModel)]="model.tableNumber"
                name="tableNumber"
                #tableNumber="ngModel"

                class="form-control">
          <option selected="selected">Выберите...</option>
          <option *ngFor="let tableNumber of tableNumbers" [value]="tableNumber.id">
            {{tableNumber.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Коментарий к заказу</label>
        <textarea type="text" class="form-control" id="description"

                  required
                  [(ngModel)]="model.description"
                  name="description"
                  #description="ngModel"
                  placeholder="Введите ваши дополнительные пожелания"> </textarea>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rulesCheck"
               [(ngModel)]="model.rulesCheck" name="rulesCheck"
               #rulesCheck="ngModel"
               required>
        <label class="form-check-label" for="rulesCheck">Я обязуюсь не нарушать правила клуба RE:PUBLIC</label>
      </div>
      <br>
      <button type="submit" (click)="order()" class="btn btn-primary">Заказать</button>
    </form>


    <div [hidden]="wrapper.edited" id="orderView">
      <div class="container">
        <h1>ЗАКАЗ ОТПРАВЛЕН</h1>
        <div class="mt-1"><h3>Номер заказа </h3></div>
        <p class="lead"> {{model.id}}</p>
        <div class="mt-1"><h3>Имя </h3></div>
        <p class="lead"> {{model.name}}</p>
        <div class="mt-1"><h3>Email </h3></div>
        <p class="lead"> {{model.email}}</p>
        <div class="mt-1"><h3>Номер мобильного </h3></div>
        <p class="lead"> {{model.phone}}</p>
        <div class="mt-1"><h3>Событие </h3></div>
        <p class="lead"> {{model.eventName}}</p>
        <div class="mt-1"><h3>Ориентировачное время прибытия </h3></div>
        <p class="lead"> {{model.arrivalTime}}</p>
        <div class="mt-1"><h3>Гостей </h3></div>
        <p class="lead"> {{model.people}}</p>
        <div class="mt-1"><h3>Заказ </h3></div>
        <p class="lead"> {{model.food}}</p>
        <div class="mt-1"><h3>Код депозита </h3></div>
        <p class="lead"> {{model.bcCode}}</p>
        <div class="mt-1"><h3>Столик </h3></div>
        <p class="lead"> {{model.tableNumber}}</p>
        <div class="mt-1"><h3>Коментарий к заказу </h3></div>
        <p class="lead"> {{model.description}}</p>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
