<div class="content-wrapper">
  <div class="block menu-page info-page">

    <form #heroForm="ngForm">
      <div class="form-group">
        <label for="event">Выберите мероприятие по которому хотите посмореть список заказов</label>
        <select id="event"
                required
                [(ngModel)]="wrapper.eventNumber"
                name="event"
                #event="ngModel"
                (change)="changeEvent()"
                class="form-control">
          <option selected="selected" value="0">Выберите...</option>
          <option *ngFor="let event of events" [value]="event.id">{{event.name}} - {{event.startEvent}}</option>
        </select>
      </div>
    </form>

    <div [hidden]="!eventChoice" id="ordersList">
      <div class="row">
        <ul>
          <li *ngFor="let order of orders">
            <a (click)="onOrderClick(order)">{{order.id}} - {{order.name}} - {{order.phone}}</a>
          </li>
        </ul>
      </div>
    </div>

    <app-order-view *ngIf="orderChoice" [menuCategories]="menuCategories" [order]="model"></app-order-view>

    <div class="clearfix"></div>
  </div>
</div>
