<div *ngFor="let categoryMain of categories">
  <h1>
    {{categoryMain.name}}
    <i class="h-line"></i>
    <span class="desc">{{categoryMain.description}}</span>
  </h1>
  <div *ngFor="let category of categoryMain.categories">
    <br>
    <form class="form-inline">
      <div class="form-group mb-2">
        <label for="categorySame" class="sr-only">Введите имя новой категории</label>
        <input type="text" class="form-control-plaintext box-shadow-blue"
               [hidden]="!(editCategoryId==category.id)"
               id="categorySame"
               value="{{editWrapper.categoryEditDto.name}}"
               [(ngModel)]="editWrapper.categoryEditDto.name"
               name="editCategoryDtoName"
        >
        <h3 [hidden]="(editCategoryId==category.id)">
          {{category.name}}
        </h3>
      </div>
      <button type="submit" class="btn btn-primary mb-2" [hidden]="!(editCategoryId==category.id)"
              (click)="onClickSaveCategory(editWrapper.categoryEditDto)">Сохранить
      </button>
      <button type="submit" class="btn btn-primary mb-2" [hidden]="(editCategoryId==category.id)"
              (click)="onClickeditCategory(category)">Изменить
      </button>
    </form>


    <ul class="info-list menu-list">
      <li *ngFor="let item of category.menuItems">
        <span class="title" [hidden]="(editWrapper.editItemPositionId==item.id)">
          <b>{{item.name}}</b>
          <br>
          <i>{{item.description}}</i>
          <br>
          {{item.descriptionProportions}}
        </span>
        <span class="price" [hidden]="(editWrapper.editItemPositionId==item.id)">
          <b>
            {{item.price}} BYN
          </b>
        </span>

        <form [hidden]="!(editWrapper.editItemPositionId==item.id)">
          <div class="form-group">
            <label for="itemPositionName">Имя позиции</label>
            <input type="text"
                   class="form-control"
                   id="itemPositionName"
                   name="itemPositionName"
                   value="{{editWrapper.itemPosition.name}}"
                   [(ngModel)]="editWrapper.itemPosition.name"

            >
          </div>
          <div class="form-group">
            <label for="itemPositionDescription">Описание позиции</label>
            <input type="text"
                   class="form-control"
                   id="itemPositionDescription"
                   name="itemPositionDescription"
                   value="{{editWrapper.itemPosition.description}}"
                   [(ngModel)]="editWrapper.itemPosition.description"

            >
          </div>
          <div class="form-group">
            <label for="itemPositionDescriptionProportions">Пропорции позиции</label>
            <input type="text"
                   class="form-control"
                   id="itemPositionDescriptionProportions"
                   name="itemPositionDescriptionProportions"
                   value="{{editWrapper.itemPosition.descriptionProportions}}"
                   [(ngModel)]="editWrapper.itemPosition.descriptionProportions"

            >
          </div>
          <div class="form-group">
            <label for="itemPrice">Цена</label>
            <input type="text"
                   class="form-control"
                   id="itemPrice"
                   name="itemPrice"
                   value="{{editWrapper.itemPosition.price}}"
                   [(ngModel)]="editWrapper.itemPosition.price"

            >
          </div>
          <button type="submit" class="btn btn-primary" (click)="onClickSaveItemPosition(editWrapper.itemPosition)">Сохранить</button>
        </form>
        <button type="submit" class="btn btn-primary mb-2"
                [hidden]="(editWrapper.editItemPositionId==item.id)"
                (click)="onClickEditMenuItem(item)">Изменить
        </button>
      </li>
    </ul>



    <form [hidden]="!(editWrapper.editItemPositionId==-1) || !(editWrapper.itemPosition.categoryId==category.id)">
      <div class="form-group">
        <label for="itemPositionNameNew">Имя позиции</label>
        <input type="text"
               class="form-control"
               id="itemPositionNameNew"
               name="itemPositionNameNew"
               value="{{editWrapper.itemPosition.name}}"
               [(ngModel)]="editWrapper.itemPosition.name"

        >
      </div>
      <div class="form-group">
        <label for="itemPositionDescriptionNew">Описание позиции</label>
        <input type="text"
               class="form-control"
               id="itemPositionDescriptionNew"
               name="itemPositionDescriptionNew"
               value="{{editWrapper.itemPosition.description}}"
               [(ngModel)]="editWrapper.itemPosition.description"

        >
      </div>
      <div class="form-group">
        <label for="itemPositionDescriptionProportionsNew">Пропорции позиции</label>
        <input type="text"
               class="form-control"
               id="itemPositionDescriptionProportionsNew"
               name="itemPositionDescriptionProportionsNew"
               value="{{editWrapper.itemPosition.descriptionProportions}}"
               [(ngModel)]="editWrapper.itemPosition.descriptionProportions"

        >
      </div>
      <div class="form-group">
        <label for="itemPriceNew">Цена</label>
        <input type="text"
               class="form-control"
               id="itemPriceNew"
               name="itemPriceNew"
               value="{{editWrapper.itemPosition.price}}"
               [(ngModel)]="editWrapper.itemPosition.price"

        >
      </div>
      <button type="submit" class="btn btn-primary" (click)="onClickSaveItemPosition(editWrapper.itemPosition)">Сохранить</button>
    </form>
    <button type="submit" class="btn btn-primary mb-2"
            [hidden]="(editWrapper.editItemPositionId==0) || (editWrapper.itemPosition.id!=0)"
            (click)="onClickCreateMenuItem(category)">Добавить новую позицию
    </button>



  </div>

  <form class="form-inline">
    <div class="form-group mb-2">
      <label for="categoryNew" class="sr-only">Введите имя новой категории</label>
      <input type="text" class="form-control-plaintext box-shadow-blue"
             [hidden]="(editCategoryId==-1)||!(categoryMain.id==editWrapper.categoryEditDto.parentId)"
             id="categoryNew"
             value="{{editWrapper.categoryEditDto.name}}"
             [(ngModel)]="editWrapper.categoryEditDto.name"
             name="editCategoryDtoName"
      >
    </div>
    <button type="submit" class="btn btn-primary mb-2" [hidden]="(editCategoryId==-1)||!(categoryMain.id==editWrapper.categoryEditDto.parentId)"
            (click)="onClickSaveCategory(editWrapper.categoryEditDto)">Сохранить
    </button>
    <button type="submit" class="btn btn-primary mb-2" [hidden]="!(editCategoryId==-1)"
            (click)="onClickNewCategory(categoryMain)">Добавить новую категорию
    </button>
  </form>

</div>
