<div class="content-wrapper no-sidebar">

  <!--main content-->
  <div class="main-content">

    <!--block  gallery-page-->
    <div class="block gallery-page">
      <h1>
        Галереи:
        <i class="h-line"></i>
      </h1>

      <div class="gallery-list">
        <ul>
          <li *ngFor="let galeryEventItem of galleryEvents">
            <div class="img">
              <a routerLink="/event-reports/{{galeryEventItem.id}}">
                <img src="{{galeryEventItem.coverUri}}"
                     alt="{{galeryEventItem.name}}">
              </a>
            </div>
            <div class="info">
              <span class="date">{{galeryEventItem.startEvent}}</span>
              <h3>
                <a routerLink="/event-reports/{{galeryEventItem.id}}">{{galeryEventItem.name}}</a>
              </h3>
            </div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <!--end block gallery-page-->

  </div>
  <!--end main content-->
  <div class="clearfix"></div>
</div>
