<div class="content-wrapper no-sidebar">

  <!--main content-->
  <div class="main-content">

    <!--block  gallery-page-->
    <div class="block gallery-page">

      <!--<div class="year-select">-->
      <!--<h3>Год</h3>-->
      <!--<ul>-->
      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2001">’01</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2002">’02</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2003">’03</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2008">’08</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2009">’09</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2010">’10</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2011">’11</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2012">’12</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2013">’13</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2014">’14</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2015">’15</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2016">’16</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2017">’17</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="https://www.16tons.ru/photo/2018">’18</a>-->
      <!--</li>-->

      <!--</ul>-->
      <!--</div>-->
      <h1>
        <!--Галереи за 2018 год-->
        Галереи:
        <i class="h-line"></i>
      </h1>

      <div class="gallery-list">
        <ul>
          <li *ngFor="let galeryEventItem of galleryEvents">
            <div class="img">
              <a routerLink="/event-reports/{{galeryEventItem.id}}">
                <img src="{{galeryEventItem.coverUri}}"
                     alt="{{galeryEventItem.name}}">
              </a>
            </div>
            <div class="info">
              <span class="date">{{galeryEventItem.startEvent}}</span>
              <h3>
                <a routerLink="/event-reports/{{galeryEventItem.id}}">{{galeryEventItem.name}}</a>
              </h3>
            </div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <!--end block gallery-page-->

  </div>
  <!--end main content-->
  <div class="clearfix"></div>
</div>
