<!--content-->
<div class="content container">
  <div class="content-wrapper">

    <!--main content-->
    <div class="main-content">


<!--block bill-day-->
<div class="block bill-day">
  <h1>
    Сегодня, {{currentDate}}
    <i class="h-line"></i>
  </h1>
  <div class="row">
    <ul>
      <li *ngFor="let event of today">
        <div class="event">
          <div class="img">
            <a routerLink="/event/{{event.id}}">
              <img src="{{event.imageUri}}" alt="">
            </a>
          </div>
          <div class="info">
            <span class="time">{{event.startEvent}}20:00</span>
            <h3>
              <a routerLink="/event/{{event.id}}">
                {{event.name}}
              </a>
            </h3>
            <span class="tickets">
              {{event.status}}
            </span>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<!--end block bill-day-->


<!--block bill-day-->
<div class="block bill-day">
  <h1>
    Завтра, {{tomorrowDate}}
    <i class="h-line"></i>
  </h1>
  <div class="row">
    <li *ngFor="let event of tomorrow">
      <div class="event">
        <div class="img">
          <a routerLink="/event/{{event.id}}">
            <img src="{{event.imageUri}}" alt="">
          </a>
        </div>
        <div class="info">
          <span class="time">{{event.startEvent}}20:00</span>
          <h3>
            <a routerLink="/event/{{event.id}}">
              {{event.name}}
            </a>
          </h3>
          <span class="tickets">
              {{event.status}}
            </span>
        </div>
      </div>
    </li>
    <div class="clearfix"></div>
  </div>
</div>
<!--end block bill-day-->


<h1>
  Далее в программе
  <i class="h-line"></i>
</h1>
<ul class="block bill-farther">
  <li *ngFor="let event of currentAndNextWeek">
    <div class="event">
      <!--data-words="{{event.name}}"-->
      <div class="img">
        <a routerLink="/event/{{event.id}}">
          <img src="{{event.imageUri}}" alt="">
        </a>
      </div>
      <div class="info">
        <span class="date">{{event.startEvent}}</span>
        <h2>
          <a routerLink="/event/{{event.id}}">
            {{event.name}}
            <span class="type"></span>
          </a>
        </h2>
        <p>
          {{event.description}}<br>
        </p>
        <div class="tickets">
          <h4>БИЛЕТЫ</h4>
          <a routerLink="/event/{{event.id}}" class="btn order-btn-face">
            Купитьбилет
          </a>
          <div class="tickets-list">
            <span>{{event.costText}}</span>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


<!--block bill-month-->
<div class="block bill-month">
  <h1>
    Далее в {{currentMonthName}}
    <i class="h-line"></i>
  </h1>
  <ul class="event-list">
    <li *ngFor="let event of currentMonth"><!--   data-words="{{event.name}}"-->
      <a routerLink="/event/{{event.id}}"
         class="btn order-btn-face fix-w-m">Билеты от {{event.cost}}</a>
      <div class="info">
        <div class="date">
          <span class="time">{{event.startEvent}}27 ноября</span><br>
          <span class="day">{{event.startEvent}}Понедельник</span>
        </div>
        <h3>
          <a routerLink="/event/{{event.id}}">{{event.name}}</a>
          <span class="desc"></span>
        </h3>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</div>
<!--end block bill-month-->

<!--block bill-month-->
<div class="block bill-month">
  <h1>
    В {{nextMonthName}}
    <i class="h-line"></i>
  </h1>
  <ul class="event-list">
    <li *ngFor="let event of nextMonth"><!--   data-words="{{event.name}}"-->
      <a routerLink="/event/{{event.id}}"
         class="btn order-btn-face fix-w-m">Билеты от {{event.cost}}</a>
      <div class="info">
        <div class="date">
          <span class="time">{{event.startEvent}}27 ноября</span><br>
          <span class="day">{{event.startEvent}}Понедельник</span>
        </div>
        <h3>
          <a routerLink="/event/{{event.id}}">{{event.name}}</a>
          <span class="desc"></span>
        </h3>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</div>
<!--end block bill-month-->

<!--block bill-month-->
<div class="block bill-month">
  <h1>
    В {{nextNextMonthName}}
    <i class="h-line"></i>
  </h1>
  <ul class="event-list">
    <li *ngFor="let event of nextNextMonth"><!--   data-words="{{event.name}}"-->
      <a routerLink="/event/{{event.id}}"
         class="btn order-btn-face fix-w-m">Билеты от {{event.cost}}</a>
      <div class="info">
        <div class="date">
          <span class="time">{{event.startEvent}}27 ноября</span><br>
          <span class="day">{{event.startEvent}}Понедельник</span>
        </div>
        <h3>
          <a routerLink="/event/{{event.id}}">{{event.name}}</a>
          <span class="desc"></span>
        </h3>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</div>
<!--end block bill-month-->

    </div>
    <!--end main content-->

    <!--sidebar-->
    <div class="right-sidebar" style="height: 7716px;">

      <!--block find-event-->
      <!--
      <div class="block find-event side-info">
          <h4>НАйТИ КОНЦЕРТ</h4>
          <p>Начните вводить название группы</p>
          <input type="text" class="input-medium" placeholder="Найти"/>
      </div>
      -->
      <!--end block find-event-->
      <!--<div class="block last-gallery">
                      <h4><a href="https://republic-club.by/photo">ТРАНСЛЯЦИЯ ПРЕМИИ ЗОЛОТАЯ ГОРГУЛИЯ</a></h4>
          <iframe width="100%" src="https://www.youtube.com/embed/Hh1n_JEmzNQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>-->

      <!--block last gallery-->
      <div class="block last-gallery">
        <h4><a href="https://republic-club.by/photo">ПОСЛЕДНИЕ ГАЛЕРЕИ</a></h4>
        <ul class="list">
          <li>
            <div class="img">
              <a href="https://republic-club.by/photo/2017-constantine-4nov">
                <img src="images/2017-constantine-4nov-cover.jpg" alt="">
              </a>
            </div>
            <div class="info">
              <span class="date">4 ноября</span>
              <h3>
                <a href="https://republic-club.by/photo/2017-constantine-4nov">Constantine</a>
              </h3>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="img">
              <a href="https://republic-club.by/photo/2017-babyfather-04nov">
                <img src="images/2017-babyfather-04nov-cover.jpg" alt="">
              </a>
            </div>
            <div class="info">
              <span class="date">4 ноября</span>
              <h3>
                <a href="https://republic-club.by/photo/2017-babyfather-04nov">Babyfather (Dean Blunt)</a>
              </h3>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="img">
              <a href="https://republic-club.by/photo/2017-knyaz-03nov">
                <img src="images/2017-knyaz-03nov-cover.jpg" alt="">
              </a>
            </div>
            <div class="info">
              <span class="date">3 ноября</span>
              <h3>
                <a href="https://republic-club.by/photo/2017-knyaz-03nov">КняZz</a>
              </h3>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="img">
              <a href="https://republic-club.by/photo/2017-zg2017-2nov">
                <img src="images/2017-zg2017-2nov-cover.jpg" alt="">
              </a>
            </div>
            <div class="info">
              <span class="date">2 ноября</span>
              <h3>
                <a href="https://republic-club.by/photo/2017-zg2017-2nov">XVIII Золотая Горгулья -
                  церемония</a>
              </h3>
            </div>
            <div class="clearfix"></div>
          </li>
          <li>
            <div class="img">
              <a href="https://republic-club.by/photo/2017-gg-2nov">
                <img src="images/2017-gg-2nov-cover.jpg" alt="">
              </a>
            </div>
            <div class="info">
              <span class="date">2 ноября</span>
              <h3>
                <a href="https://republic-club.by/photo/2017-gg-2nov">XVIII Золотая Горгулья -
                  пресс-волл</a>
              </h3>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <!--end block last gallery-->

      <!--block interesting-->
      <div class="block interesting">
        <h4>ВОЗМОЖНО, ВАС ТАКЖЕ ЗАИНТЕРЕСУЕТ</h4>
        <ul class="list">

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">25</span>
              <span class="day">Суббота</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171011-260х130oizemc.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-noize-mc-25nov/?utm_source=sidebanner">Noize
                  MC</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">29</span>
              <span class="day">Среда</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/170904-260x130_teona.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-teona-29nov/?utm_source=sidebanner">Teona
                  Kontridze &amp; Band</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">28</span>
              <span class="day">Вторник</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/170924-260х130daitedva.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-dayte2-28nov/?utm_source=sidebanner">Дайте
                  Два</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">19</span>
              <span class="day">Воскресенье</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171009-260х130-aigel.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-aigel-19nov/?utm_source=sidebanner">Аигел</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">30</span>
              <span class="day">Четверг</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/170803-16-30nov-bomzh-trio-130.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-bomzh-trio-30nov/?utm_source=sidebanner">Бомж
                  Трио</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">3</span>
              <span class="day">Воскресенье</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171005-260х130chaikovskaia.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-chaykovskaya-3dek/?utm_source=sidebanner">Мария
                  Чайковская</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">21</span>
              <span class="day">Четверг</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171017-260х130baner-site.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-oblomov-21dec/?utm_source=sidebanner">Вася
                  Обломов</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">21</span>
              <span class="day">Вторник</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/170906-130x260-oxzana.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-oxzana-21nov/?utm_source=sidebanner">OXZANA</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">17</span>
              <span class="day">Пятница</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171010-260х130syphacho.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-supcharcho-17nov/?utm_source=sidebanner">Суп
                  Харчо</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">10</span>
              <span class="day">Воскресенье</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171017-260х130-lavrentiev.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-lavrentiev-10dec/?utm_source=sidebanner">Антон
                  Лаврентьев</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">24</span>
              <span class="day">Пятница</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171030-260х130krematory.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-krematory-24nov/?utm_source=sidebanner">Крематорий</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">26</span>
              <span class="day">Воскресенье</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171009-260х130ROrchestr.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-recordorchestra-26nov/?utm_source=sidebanner">Рекорд
                  Оркестр</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">19</span>
              <span class="day">Вторник</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171108-260х130-chaif.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-chaif-19dec/?utm_source=sidebanner">Чайф</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">17</span>
              <span class="day">Воскресенье</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171012-260х130nigativ.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-nigativ-17dek/?utm_source=sidebanner">Нигатив</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">27</span>
              <span class="day">Понедельник</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171024-260х130-radiokamerger.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-radio-kamerger-27nov/?utm_source=sidebanner">
                  Radio Kamerger</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">8</span>
              <span class="day">Пятница</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171108-260х130-nalich.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-peter-nalich-8dec/?utm_source=sidebanner">Пётр
                  Налич</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Январь</span>
              <span class="date">4</span>
              <span class="day">Четверг</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171024-260х130kurara.jpg" alt="">
                <a href="https://republic-club.by/concert/2018-kurara-4jnv/?utm_source=sidebanner">Курара</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">1</span>
              <span class="day">Пятница</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171109-260х130billys.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-billys-band-1day-1dec/?utm_source=sidebanner">Billy's
                  Band — День 1</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">9</span>
              <span class="day">Суббота</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171109-260х130-mandili.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-mandili-9dek/?utm_source=sidebanner">Трио
                  «Мандили»</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">6</span>
              <span class="day">Среда</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171109-260х130zikina.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-zykina-6dec/?utm_source=sidebanner">Татьяна
                  Зыкина</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">15</span>
              <span class="day">Пятница</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171114-260х130-dolphin.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-dolphin-15dec/?utm_source=sidebanner">Дельфин</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">20</span>
              <span class="day">Среда</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171109-260х130rasteraiev.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-rasteryaev-20dec/?utm_source=sidebanner">Игорь
                  Растеряев</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">7</span>
              <span class="day">Четверг</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171031-260х130-vanin.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-vanyn-7dec/?utm_source=sidebanner">Vanyn</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">2</span>
              <span class="day">Суббота</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171109-260х130billys.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-billys-band-2day-2dec/?utm_source=sidebanner">Billy's
                  Band — День 2</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">16</span>
              <span class="day">Суббота</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171117-260х130tancy.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-tanzy-minus-16dec/?utm_source=sidebanner">Танцы
                  Минус</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Ноябрь</span>
              <span class="date">23</span>
              <span class="day">Четверг</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171114-260х130_detsl.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-detsl-23nov/?utm_source=sidebanner">Detsl
                  a.k.a. Le Truk</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">13</span>
              <span class="day">Среда</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171109-260х130horonko.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-khoronko-13dec/?utm_source=sidebanner">Хоронько
                  Оркестр</a>
              </div>
            </div>
          </li>

          <li>
            <div class="info">
              <span class="month">Декабрь</span>
              <span class="date">12</span>
              <span class="day">Вторник</span>
              <span class="time">20:00</span>
            </div>
            <div class="title">
              <div class="img">
                <img height="130px" src="images/171117-260х130-jackaktion.jpg" alt="">
                <a href="https://republic-club.by/concert/2017-jackaction-12dec/?utm_source=sidebanner">Jack
                  Action</a>
              </div>
            </div>
          </li>

        </ul>
      </div>
      <!--end block interesting-->

      <!--
              <div class="block social-links">
                  <h4>ОФИЦИАЛЬНЫЕ СТРАНИЦЫ КЛУБА</h4>
                  <center><ul>
                      <li>
                          <a href="#" class="facebook"></a>
                      </li>
                      <li>
                          <a href="#" class="twitter"></a>
                      </li>
                      <li>
                          <a href="#" class="vk"></a>
                      </li>
                  </ul></center>
              </div>
      -->
      <!-- VK Widget -->
    </div>
    <!--end sidebar-->

    <div class="clearfix"></div>
  </div>
</div>
<!--end content-->
