<div><h1>«ПРАВИЛА ПОВЕДЕНИЯ В КЛУБЕ RE:PUBLIC»</h1>
  <p>Дорогие Друзья! </p>
  <p>1. Находясь на территории клуба «RE:PUBLIC», вы соглашаетесь с нашими условиями и принимаете Правила, описанные
    ниже. </p>
  <p>2. Клуб «RE:PUBLIC» открыт для посетителей в дни проведения концертов, дискотек, закрытых мероприятий. </p>
  <p>3.1. Представители службы безопасности и правоохранительных органов, работающие на территории клуба, имеют право
    ограничить количество посетителей на свое усмотрение или отказать отдельным лицам в праве войти в клуб. Если нашими
    сотрудниками принято такое решение, наличие билета на концерт, предварительный заказ или внесенная предоплата не
    являются гарантией беспрепятственного входа в клуб. </p>
  <p>3.2. Сотрудники службы безопасности и правоохранительных органов имеют право не пустить в клуб лиц, находящихся под
    воздействием наркотиков или в состоянии алкогольного опьянения. </p>
  <p>Пожалуйста, помните, что поводом для принятия такого решения также может стать всякое проявление агрессии и любое
    неадекватное поведение, которое доставляет дискомфорт другим гостям. </p>
  <p>4. В клуб запрещено проносить прохладительные и спиртные напитки независимо от типа упаковки, наркотики, ядовитые и
    токсичные вещества, воспламеняющиеся вещества, средства личной защиты и любые виды оружия. </p>
  <p>5. Посетители несут ответственность за соблюдение общественного порядка и сохранность материальной собственности
    клуба. </p>
  <p>6. Администрация клуба не несет ответственности за сохранность транспортных средств и личные вещи посетителей,
    оставленные без присмотра. Пожалуйста, будьте внимательны и не оставляйте свои личные вещи без присмотра. </p>
  <p>7.1. В клубе запрещено производить профессиональную фото- и видеосъемку без предварительной аккредитации. Список
    аккредитованных представителей СМИ согласовывется с администрацией клуба. </p>
  <p>7.2. В клубе разрешена любительская фото- и видеосъемка с использованием непрофессиональной техники. Личные фото- и
    видеозаписи могут быть использованы исключительно для домашнего просмотра. </p>
  <p>7.3. Находясь на территории клуба, вы можете стать участником любительской или профессиональной фото-, видео- или
    аудиозаписи и даете свое согласие на использование данных материалов для внутренних нужд клуба, частного просмотра,
    видео-, теле- и радиотрансляции или публикации в прессе. </p>
  <p>8. Администрация клуба оставляет за собой право корректировать расписание и вносить изменения в гостевой список
    мероприятия, предварительно поставив в известность ответственных лиц. Уточнить программу вы можете на сайте клуба
    www.republic-club.by</p>
  <p>или по телефону +375 29 110-35-35. </p>
  <p>9.1. В нашем клубе запрещено: </p>
  <p>— употреблять наркотические и токсичные вещества </p>
  <p>— грубить сотрудникам и гостям клуба; </p>
  <p>— занимать свободные столики без разрешения администрации; </p>
  <p>— подсаживаться за столики к другим гостям без приглашения; </p>
  <p>— находиться и заходить в служебные помещения </p>
  <p>— сидеть или танцевать на столах и перилах, на барной стойке и на сцене клуба; </p>
  <p>— забираться с ногами на диваны; </p>
  <p>— провоцировать конфликты и вступать в драки; </p>
  <p>9.2. На танцполе клуба не разрешается: </p>
  <p>— распивать спиртные напитки; </p>
  <p>— мешать друг другу; </p>
  <p>— бегать и толкаться; </p>
  <p>— сидеть и лежать; </p>
  <p>— сажать друг друга на плечи или поднимать на руки; </p>
  <p>— раздеваться; </p>
  <p>— складывать вещи на полу; </p>
  <p>— танцевать без обуви; </p>
  <p>— передвигаться по танцполу во время шоу-программы проводимой на танцполе. </p>
  <p>Пожалуйста, уважайте других гостей клуба и не переходите границы дозволенного. </p>
  <p>10. В случае возникновения конфликтов и чрезвычайных ситуаций следует обращаться за помощью к сотрудникам клуба.
    Убедительно просим Вас не пытаться решать конфликтные ситуации самостоятельно. </p>
  <p>11. Убедительно просим вас быть взаимовежливыми, соблюдать правила поведения в клубе, не нарушать общественный
    порядок, а также следовать рекомендациям наших сотрудников и выполнять требования представителей службы безопасности
    и правоохранительных органов, работающих на территории клуба. </p>
  <p>12. В случаях нарушения данных Правил администрация в любое время вправе попросить Вас покинуть территорию
    клуба. </p>
  <hr>
  <p>Любые претензии и пожелания к работе клуба «RE:PUBLIC» вы можете оставить в книге жалоб и предложений. </p>
  <p>Связаться с администрацией можно по электронной почте koncept.stil@gmail.com или по телефону +375291103535. </p>
  <p>Напоминаем вам, что высокий уровень громкости звука в клубе может стать причиной ухудшения слуха. </p>
  <hr>
  <p>Директор Старцев А.В. </p>
  <p>Зам. Директора Якимович П.Ч. </p>
  <p>Зам. Директора Крашенинников А.Р.</p>
</div>
