<mat-horizontal-stepper [linear]="false" #stepper *ngIf="!orderComplete">
  <mat-step [stepControl]="menuFormGroup">
    <form [formGroup]="menuFormGroup">
      <ng-template matStepLabel>Просмотр меню и выбор позиций</ng-template>
      <app-order-food [menuCategories]="menuCategories" [order]="order"></app-order-food>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="orderDetailsFormGroup">
    <form [formGroup]="orderDetailsFormGroup">
      <ng-template matStepLabel>Общая информация о пользователе</ng-template>
      <app-order-edit [order]="order" [events]="events"></app-order-edit>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Превью заказа</ng-template>
    <app-order-view [menuCategories]="menuCategories" [order]="order"></app-order-view>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="submitOrder()">Заказать. Оплата заказа в клубе.</button>
      <button mat-button (click)="payOrder()">Оплатить заказ онлайн (скидка 10%)</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<div *ngIf="orderComplete">
  <h1>Спасибо за заказ</h1>
  <app-order-view [menuCategories]="menuCategories" [order]="order"></app-order-view>
</div>

