<div class="wrapper">

  <!--header-->
  <div class="header">

    <!--banner-->
    <div class="top-banner top-banner-main-container">
      <div class="bx-wrapper" style="max-width: 100%;">
        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 90px;">
          <ul class="banners-slider"
              style="width: 615%; position: relative; transition-duration: 0s; transform: translate3d(-1760px, 0px, 0px);">
            <!--<li style="float: left; list-style: none; position: relative; width: 880px;" class="bx-clone">-->
            <!--<a class="banner-img" href="https://republic-club.by/concert/2017-chaif-19dec/">-->
            <!--<img src="images/19.jpg">-->
            <!--</a>-->
            <!--<div class="banner-text">-->
            <!--<h3>-->
            <!--<a href="https://republic-club.by/concert/2017-chaif-19dec/" style="color: #fff">Чайф - -->
            <!--внеплановый концерт!</a>-->
            <!--</h3>-->
            <!--<span class="date" style="color: #fff">19 декабря, вторник</span>-->
            <!--</div>-->
            <!--<div class="tons-w"></div>-->
            <!--</li>-->


            <!--<li style="float: left; list-style: none; position: relative; width: 880px;">-->
            <!--<a class="banner-img" href="http://http//republic-club.by/concert/2017-ns-22nov/">-->
            <!--<img src="images/22.jpg">-->
            <!--</a>-->
            <!--<div class="banner-text">-->
            <!--<h3>-->
            <!--<a href="https://republic-club.by/concert/2017-ns-22nov/" style="color: #fff">Несчастный-->
            <!--Случай</a>-->
            <!--</h3>-->
            <!--<span class="date" style="color: #fff">22 ноября, среда</span>-->
            <!--</div>-->
            <!--<div class="tons-w"></div>-->
            <!--</li>-->
            <!--<li style="float: left; list-style: none; position: relative; width: 880px;">-->
            <!--<a class="banner-img" href="https://republic-club.by/concert/2017-noize-mc-25nov/">-->
            <!--<img src="images/25.jpg">-->
            <!--</a>-->
            <!--<div class="banner-text">-->
            <!--<h3>-->
            <!--<a href="http://http//republic-club.by/concert/2017-noize-mc-25nov/" style="color: #fff">Noize-->
            <!--MC - Квартирник</a>-->
            <!--</h3>-->
            <!--<span class="date" style="color: #fff">25 ноября, суббота</span>-->
            <!--</div>-->
            <!--<div class="tons-w"></div>-->
            <!--</li>-->


            <!--<li style="float: left; list-style: none; position: relative; width: 880px;">-->
            <!--<a class="banner-img" href="https://republic-club.by/concert/2017-recordorchestra-26nov/">-->
            <!--<img src="images/26.jpg">-->
            <!--</a>-->
            <!--<div class="banner-text">-->
            <!--<h3>-->
            <!--<a href="https://republic-club.by/concert/2017-recordorchestra-26nov/" style="color: #fff">Рекорд-->
            <!--Оркестр - Презентация альбома</a>-->
            <!--</h3>-->
            <!--<span class="date" style="color: #fff">26 ноября, воскресенье</span>-->
            <!--</div>-->
            <!--<div class="tons-w"></div>-->
            <!--</li>-->


            <!--<li style="float: left; list-style: none; position: relative; width: 880px;">-->
            <!--<a class="banner-img" href="https://republic-club.by/concert/2017-chaif-19dec/">-->
            <!--<img src="images/19.jpg">-->
            <!--</a>-->
            <!--<div class="banner-text">-->
            <!--<h3>-->
            <!--<a href="https://republic-club.by/concert/2017-chaif-19dec/" style="color: #fff">Чайф - -->
            <!--внеплановый концерт!</a>-->
            <!--</h3>-->
            <!--<span class="date" style="color: #fff">19 декабря, вторник</span>-->
            <!--</div>-->
            <!--<div class="tons-w"></div>-->
            <!--</li>-->


            <!--<li style="float: left; list-style: none; position: relative; width: 880px;" class="bx-clone">-->
            <!--<a class="banner-img" href="http://http//republic-club.by/concert/2017-ns-22nov/">-->
            <!--<img src="images/22.jpg">-->
            <!--</a>-->
            <!--<div class="banner-text">-->
            <!--<h3>-->
            <!--<a href="https://republic-club.by/concert/2017-ns-22nov/" style="color: #fff">Несчастный-->
            <!--Случай</a>-->
            <!--</h3>-->
            <!--<span class="date" style="color: #fff">22 ноября, среда</span>-->
            <!--</div>-->
            <!--<div class="tons-w"></div>-->
            <!--</li>-->
          </ul>
        </div>
        <div class="bx-controls bx-has-pager">
          <div class="bx-pager bx-default-pager">
            <!--<div class="bx-pager-item"><a href="https://republic-club.by/" data-slide-index="0"-->
            <!--class="bx-pager-link">1</a></div>-->
            <!--<div class="bx-pager-item"><a href="https://republic-club.by/" data-slide-index="1"-->
            <!--class="bx-pager-link active">2</a></div>-->
            <!--<div class="bx-pager-item"><a href="https://republic-club.by/" data-slide-index="2"-->
            <!--class="bx-pager-link">3</a></div>-->
            <!--<div class="bx-pager-item"><a href="https://republic-club.by/" data-slide-index="3"-->
            <!--class="bx-pager-link">4</a></div>-->
          </div>
        </div>
      </div>
    </div>
    <!--end banner-->

    <div class="container">
      <div class="header-phone">
        <span class="title">Заказ билетов</span>
        <a href="tel: +375 (29) 110-35-35" class="phone">+375 (29) 110-35-35</a>
      </div>
      <div class="logo">
        <a href="/afisha">RE:PUBLIC. Клуб.</a>
      </div>
      <div class="header-phone">
        <span class="title">Резерв столиков</span>
        <a href="tel: +375 (17) 290 86 90" class="phone">+375 (17) 290 86 90</a>
      </div>
      <div class="clearfix"></div>
      <div class="main-menu-panel">


        <!--main-menu-->
        <nav>
          <a routerLink="/afisha" class="active">Афиша</a>
          <a routerLink="/menu">Заказ столика и просмотр меню</a>
          <a routerLink="/media">Фото</a>
          <a routerLink="/news">Новости</a>
          <a routerLink="/club">Клуб</a>
          <a style="color: red" routerLink="/feedback">Бюро находок и информация</a>
        </nav>
        <nav [hidden]="!isAdmin">
          <a routerLink="/admin">Admin главная</a>
          <a routerLink="/admin-events">Операции над событиями</a>
          <a routerLink="/admin-order-list">Список заказов</a>
          <a routerLink="/admin-menu-editor">Редактор меню</a>
          <a href="/logout">Выйти</a>
        </nav>
      </div>
    </div>
  </div>
  <!--end header-->

  <!--content-->
  <div class="content container">
    <router-outlet></router-outlet>
  </div>
  <!--end content-->


  <app-footer></app-footer>
</div>
