<div class="wrapper">

  <!--header-->
  <div class="header" *ngIf="innerWidth > 1000">

    <div class="container">
      <div class="logo">
        <a href="/afisha">RE:PUBLIC. Клуб.</a>
      </div>
      <div class="header-phone">
        <span class="title">Заказ билетов и резерв столов</span>
        <a href="tel: +375 (29) 110-35-35" class="phone">+375 (29) 110-35-35</a>
      </div>
      <div class="clearfix"></div>
      <div class="main-menu-panel">


        <!--main-menu-->
        <nav>
          <a routerLink="/afisha" class="active">Афиша</a>
          <a routerLink="/orders">Заказ столика и просмотр меню</a>
          <a routerLink="/media">Фото</a>
          <a routerLink="/news">Новости</a>
          <a routerLink="/club">Клуб</a>
          <a style="color: red" routerLink="/feedback">Бюро находок и информация</a>
          <a href="/login">L</a>
        </nav>
        <nav [hidden]="!isAdmin">
          <a routerLink="/admin">Admin главная</a>
          <a routerLink="/admin-events">Операции над событиями</a>
          <a routerLink="/admin-order-list">Список заказов</a>
          <a routerLink="/admin-menu-editor">Редактор меню</a>
          <a routerLink="/admin-photo-report">Редактор фотоотчетов</a>
          <a href="/logout">Выйти</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="mobile-header" *ngIf="innerWidth < 1001">
    <div class="mobile-logo">
      <a href="/afisha">RE:PUBLIC. Клуб.</a>
    </div>
    <div class="mobile-header-phone">
      <span class="title">Заказ билетов и резерв столов</span>
      <a href="tel: +375 (29) 110-35-35" class="phone">+375 (29) 110-35-35</a>
    </div>
    <div>
      <nav class="mobile-menu-navigation">
        <a routerLink="/afisha" class="active">Афиша</a>
        <a routerLink="/orders">Заказ столика и просмотр меню</a>
        <a style="color: red" routerLink="/feedback">Бюро находок и информация</a>
        <a routerLink="/media">Фото</a>
        <a routerLink="/news">Новости</a>
        <a routerLink="/club">Клуб</a>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--end header-->

  <!--content-->
  <div class="content container">
    <router-outlet></router-outlet>
  </div>
  <!--end content-->


  <app-footer></app-footer>
</div>
