<div class="wrapper">
  <app-top-banner class="top-banner"></app-top-banner>
  <!--header-->
  <div class="header" *ngIf="innerWidth > 1000">
    <div class="container">
      <div class="logo">
        <a href="/afisha">RE:PUBLIC. Клуб.</a>
      </div>
      <div class="header-phone">
        <span class="title">Заказ билетов и резерв столов</span>
        <a href="tel: +375 (29) 110-35-35" class="phone">+375 (29) 110-35-35</a>
      </div>
      <div class="clearfix"></div>
      <div class="main-menu-panel">


        <!--main-menu-->
        <nav>
          <a routerLink="/afisha" class="active">Афиша</a>
          <a routerLink="/orders">Заказ столика и просмотр меню</a>
          <a routerLink="/media">Фото</a>
          <a routerLink="/news">Новости</a>
          <a routerLink="/club">Клуб</a>
          <a style="color: red" routerLink="/feedback">Бюро находок и информация</a>
          <a routerLink="/rules">Правила клуба</a>
          <a routerLink="/rules-pay">Правила оплаты</a>
          <a [hidden]="isAdmin" href="/login">L</a>
        </nav>
        <nav [hidden]="!isAdmin">
          <a routerLink="/admin">Admin главная</a>
          <a routerLink="/admin-events">Операции над событиями</a>
          <a routerLink="/admin-order-list">Список заказов</a>
          <a routerLink="/admin-menu-editor">Редактор меню</a>
          <a routerLink="/admin-photo-report-editor">Редактор фотоотчетов</a>
          <a href="/logout">Выйти</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="mobile-header" *ngIf="innerWidth < 1001">
    <div class="mobile-logo">
      <a href="/afisha">RE:PUBLIC. Клуб.</a>
    </div>
    <div class="mobile-header-phone">
      <span class="title">Заказ билетов и резерв столов</span>
      <a href="tel: +375 (29) 110-35-35" class="phone">+375 (29) 110-35-35</a>
    </div>
    <div>
      <nav class="mobile-menu-navigation">
        <a routerLink="/afisha" class="active">Афиша</a>
        <a routerLink="/orders">Заказ столика и просмотр меню</a>
        <a style="color: red" routerLink="/feedback">Бюро находок и информация</a>
        <a routerLink="/media">Фото</a>
        <a routerLink="/news">Новости</a>
        <a routerLink="/club">Клуб</a>
        <a routerLink="/rules">Правила клуба</a>
        <a routerLink="/rules-pay">Правила оплаты</a>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--end header-->

  <!--content-->
  <div class="content container">
    <router-outlet></router-outlet>
  </div>
  <!--end content-->


  <app-footer></app-footer>
</div>
<div *ngIf="isProd">

  <!— VK Widget —>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?154"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() { // Аналог $(document).ready(function(){
      var vk = document.createElement("div")
      vk.id = "vk_community_messages"
      document.getElementsByTagName("body")[0].appendChild(vk)
      VK.Widgets.CommunityMessages(vk.id, 18143442, {expanded: "0", tooltipButtonText: "Есть вопрос?"});
    });
  </script>


  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter23663974 = new Ya.Metrika({id:23663974,
            webvisor:true,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true});
        } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/23663974" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

</div>
