nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  font-size: x-large;
}

.header {
  padding: 0 0 10px;
  background: #f8f8f8 url('/assets/img/logo.svg') no-repeat 50% 0;
  background-size: auto 200px
}

.header .container {
  text-align: center
}

.header .logo {
  width: 36%;
  float: left;
  position: relative;
  top: -13px;
}

.header .logo a {
  margin: 0 auto;
  display: block;
  width: 400px;
  height: 200px;
  background-size: 400px auto;
  white-space: nowrap;
  text-indent: 2000px;
  overflow: hidden
}

.header .header-phone {
  width: 30%;
  float: left;
  font-size: 10px;
  line-height: 25px;
  color: #b0b0b0;
  font-family: Humanist;
  text-align: center;
  padding-left: 0;
  padding-right: 2%;
  padding-top: 38px
}

.header .header-phone span.title, .header .main-menu-panel ul li a {
  font-family: Humanist-bold;
  text-transform: uppercase;
  letter-spacing: 1.7px
}

.header .header-phone:first-child {
  padding-left: 2%;
  padding-right: 0
}

.header .header-phone span.title {
  display: block;
  line-height: 20px;
  color: #555555
}

.header .header-phone a.phone {
  font-size: 20px;
  color: #cf7a19
}

.header .header-phone a.phone:hover {
  color: #b0b0b0
}

.header .main-menu-panel {
  margin-top: -7px;
  padding: 15px 30px 5px;
  height: 30px;
  display: inline-block
}

.header .main-menu-panel ul {
  height: 30px
}

.header .main-menu-panel ul li {
  display: inline-block
}

.header .main-menu-panel ul li a {
  display: block;
  padding: 0 12px;
  font-size: 15px;
  line-height: 30px;
  color: #b0b0b0
}

.header .main-menu-panel ul li a:hover, .header .main-menu-panel ul li.active a {
  color: #fff
}

/*****************************************************/
.mobile-header {
  padding: 0 0 10px;
  background: #f8f8f8 url('/assets/img/logo.svg') no-repeat 50% 0;
  background-size: auto 200px
}

.mobile-header .mobile-logo {
}

.mobile-header .mobile-logo a {
  display: block;
  height: 240px;
  background-size: 400px auto;
  white-space: nowrap;
  text-indent: 2000px;
  overflow: hidden
}

.mobile-header .mobile-header-phone {
  font-size: 10px;
  line-height: 25px;
  color: #b0b0b0;
  font-family: Humanist;
  text-align: center;
  padding-left: 0;
  padding-right: 2%;
  padding-top: 38px
}

.mobile-header .mobile-header-phone span.title, .header .main-menu-panel ul li a {
  font-family: Humanist-bold;
  text-transform: uppercase;
  letter-spacing: 1.7px
}

.mobile-header .mobile-header-phone:first-child {
  padding-left: 2%;
  padding-right: 0
}

.mobile-header .mobile-header-phone span.title {
  display: block;
  line-height: 20px;
  color: #555555
}

.mobile-header .mobile-header-phone a.phone {
  font-size: 20px;
  color: #cf7a19
}

.mobile-header .mobile-header-phone a.phone:hover {
  color: #b0b0b0
}

.mobile-menu-navigation a {
  text-align: center;
  display: block;
}
