<div id="content" class="no_box_round_shadow">
  <p>&nbsp;</p>
  <p style="text-align: center;"><a href="https://bezkassira.by/buy/3223/?type_payment=21"><img src="assets/images/republic/yorsh-p.jpg" alt="" width="918" height="231"></a></p>
  <hr>
  <p style="text-align: center;">&nbsp;<a title="RE:PUBLIC в VK" href="https://vk.com/republic_club" target="_blank"><img src="assets/images/News/DgD9N8W8Ces.jpg" alt="" width="50" height="50"></a>&nbsp;&nbsp;<a title="RE:PUBLIC на Facebook" href="https://www.facebook.com/RePub" target="_blank"><img src="assets/images/News/F_icon.svg.png" alt="" width="50" height="50"></a>&nbsp; <a title="Instagram @republic.club" href="https://www.instagram.com/republic.clubminsk/" target="_blank"><img src="assets/images/News/winstoreinslogo_by_mrinf3ction-d6bmkkp.png" alt="" width="50" height="51"></a>&nbsp;&nbsp;</p>
  <hr>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><b>ГОРЯЧИЕ БЛЮДА</b></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="font-size: 15pt; text-align: left;"><strong><b>Куриные наггетсы с картофелем фри и овощами</b></strong></p>
        <p style="text-align: justify;"><b>(</b>Наггетсы &nbsp;п/ф, картофель фри, огурец, салат ,соус, зелень)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><strong>370/50</strong></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>15,00 BYN</b></td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong>НАРЕЗКИ</strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><strong>Ассорти мясное</strong></p>
        <p style="text-align: justify;">(Балык с/к, ветчина в/к, колбаса с/к, грудинка к/в, огурец свежий, томат, горчица, маслины, зелень)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><strong>200/80/20/20</strong></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>15,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Ассорти овощное</b></p>
        <p style="text-align: justify;">(Томат, огурец свежий, перец свежий, маслины, зелень)&nbsp;</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>190/20/2</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>10,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Ассорти сырное</b></p>
        <p style="text-align: justify;">(Сыр твёрдый Джугас, сыр Фетаки, сыр Дор-Блю, виноград, тосты, зелень)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>150/50/50/2</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;">
        <p><b>15,00 BYN</b>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Ассорти фруктовое</b></p>
        <p style="text-align: justify;">(Апельсин, виноград, киви, яблоко)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>1/400</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>10,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong>САЛАТЫ</strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><strong>Салат Греческий</strong></p>
        <p style="text-align: justify;">(салат, томат, огурец, перец, сыр Фетаки, заправка, маслины)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><strong>230/20</strong></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>7,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Салат «Цезарь» с беконом</b></p>
        <p style="text-align: justify;">(салат, томат, бекон к/в, соус «Цезарь», гренки, сыр твёрдый, маслины, оливки)&nbsp; &nbsp;</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>210/20</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>8,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong>Гарниры, Закуски</strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><strong>Картофель фри</strong></p>
        <p style="text-align: justify;">(Картофель фри п/ф, соус)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><strong>150/50</strong></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Гренки «Пикантные к пиву»</b></p>
        <p style="text-align: justify;">(Хлеб, соус)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>120/100/50</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong><b>СЭНДВИЧИ</b></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><strong><b>Сэндвич№4 (СЫР-ВЕТЧИНА)&nbsp;ЗАПЕЧЕНЫЙ НА ГРИЛЕ</b></strong></p>
        <p style="text-align: justify;">(Хлеб тостовый, ветчина, сыр, томат, майонез,соус)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><strong>250/50</strong></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>6,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Сэндвич №5 (САЛАТ-ВЕТЧИНА)</b></p>
        <p>(Хлеб «Харрис», салат, ветчина,майонез,томат,сыр,соус)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>280/50</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>6,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong>МОРОЖЕНОЕ</strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Мороженое с коньяком и шоколадом</b></p>
        <p style="text-align: justify;">(Мороженое пломбир с ванилином, коньяк РБ, шоколад тёртый)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><strong>150/30/10</strong></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>6,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Мороженое с фруктами</b></p>
        <p>(Мороженое, апельсин, киви, виноград)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>150/20/20/20</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Мороженое пломбир</b></p>
        <p>(Мороженое пломбир с ванилином)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><strong>1/150</strong>&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong>СОКИ, НАПИТКИ</strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>СОК ДОБРЫЙ</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><strong><b>250мл</b></strong></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>2,50 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>НЕКТАР ДОБРЫЙ</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>2,50 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>СОК &nbsp;RICH</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>МОРС RICH</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>КОКА-КОЛА</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>СПРАЙТ</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>ФАНТА</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>ШВЕПС</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>БОНАКВА</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>500мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>БЁРН</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>250мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>6,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong><b>ЧАЙ, КОФЕ</b></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><strong><b>Чай: (</b></strong>черный,зелёный)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p>&nbsp;</p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>2,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Кофе: (</b>эспрессо,американо)</p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">&nbsp;</td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><strong><b>СИРОПЫ</b></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>БАРЛАЙН</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><b>20мл</b></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>MONIN</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>20мл</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 847px; text-align: center; font-size: 15pt; padding: 10px;" colspan="3">
        <p><b>КОНДИТЕРСКИЕ ИЗДЕЛИЯ</b></p>
      </td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>ШОКОЛАД ЛЮБИМАЯ АЛЁНКА</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><b>50гр</b></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>ШОКОЛАД КРАСНАЯ ШАПОЧКА</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>50гр</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>ЧИПСЫ LAYS</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>80гр</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>АРАХИС ХМЕЛЬНОВ</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>70гр</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>5,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table style="height: 83px; width: 851px; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
    <tbody>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Лимон</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;">
        <p><b>1/100</b></p>
      </td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>3,00 BYN</b></td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Маслины</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>1/50</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>2,00 BYN</b>&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 559px; padding: 10px;">
        <p style="text-align: justify; font-size: 15pt;"><b>Оливки</b></p>
      </td>
      <td style="width: 139px; text-align: center; font-size: 13pt;"><b>1/50</b></td>
      <td style="width: 149px; text-align: center; font-size: 13pt;"><b>2,00 BYN</b>&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
