<div><h1>«Оплатить выбранные товары вы можете следующими способами»</h1>
  <p>Дорогие Друзья! </p>
  На платежной странице будет указан номер заказа и сумма платежа. Для оплаты вам необходимо
  ввести свои карточные данные и подтвердить платеж, нажав кнопку «Оплатить». Если ваша карта поддерживает технологию
  3-D Secure, системой ваш будет предложено пройти стандартную одноминутную процедуру проверки владельца карты на
  странице вашего банка (банка, который выдал вашу карту).
  <br>Обращаем ваше внимание, что после проведения платежа на указанный вами электронный адрес
  придет подтверждение оплаты. Просим вас сохранять данные оплат.
  <br>Мы принимаем платежи по следующим банковским картам: Visa, Visa Electron, MasterCard, Maestro, Белкарт.
  <br>
  <br>Платежи по банковским картам осуществляются через систему электронных платежей <a href="https://bepaid.by/"
                                                                                        target="_blank"><b><u>bePaid</u></b></a>.
   Платежная страница системы bePaid отвечает всем требованиям безопасности передачи данных (PCI DSS Level 1). Все
  конфиденциальные данные хранятся в зашифрованном виде и максимально устойчивы к взлому.
  <br>
  Возврат денежных средств осуществляется на карту, с которой ранее была произведена оплата. Срок поступления денежных
  средств на карту от 3 до 30 дней с момента осуществления возврата Продавцом.
  <br>
  Возврат возможен, если до мероприятия не менее 5 рабочих дней. Для возврата перейдите в
  <a routerLink="/feedback"><u>раздел обратной связи</u></a>
  и опишите проблему.
  <br>
  <p>Заказ, оплаченный на сайте Вы можете получить в клубе РеПаблик, по адресу г. Минск ул. Притыцкого, д. 62.</p>
  <p>По всем вопросам можете писать в <a routerLink="feedback">службу поддержки клиентов.</a></p>
  <p>Для получения заказа Вы заполняете все поля формы, в данном разделе : список позиций меню и информацию о себе.</p>
  <p>После этого переходите на страницу оплаты и оплачиваете заказ. Получая скидку в 10%, по сравнению с обычным заказом в клубе.</p>
</div>
