<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="by.havefun.domain.AppUser"/>
		<mapping class="by.havefun.domain.Category"/>
		<mapping class="by.havefun.domain.Event"/>
		<mapping class="by.havefun.domain.FileTable"/>
		<mapping class="by.havefun.domain.Place"/>
		<mapping class="by.havefun.domain.Region"/>
	</session-factory>
</hibernate-configuration>
