<h2>Изменения:</h2>
<br>
Версия 0.3<br>
<ul>
  <li>
    Добавлен вариант отображения сайта для мобильных дисплеев
  </li>
  <li>
    Изменен дизайн шапки
  </li>
  <li>
    Добавлена страница дискотек, отображаются три актуальные дискотеки, пятница, суббота, воскресенье.
  </li>
</ul><br>
Версия 0.2<br>
<ul>
  <li>
    Редактор меню - админ
  </li>
  <li>
    Редактор афиши - админ
  </li>
  <li>
    Добавление фотоотчетов - админ
  </li>
</ul>
<br>
Версия:0.1<br>
<ul>
  <li>
    Демонстрация. Список событий, блог, фотоотчет, меню.
  </li>
</ul>

