<div class="container">
  <div class="mt-1" *ngIf="order.id>0"><h3>Номер заказа </h3></div>
  <a href="/api/public/orders/{{uuid}}/pdf" target="_blank"><span class="glyphicon glyphicon-print"></span>Распечатать</a>
  <div class="mt-1" *ngIf="!order.payStatus"><h3>Оплата онлайн не произведена</h3></div>

  <div class="mt-1" *ngIf="!order.payStatus"><h3>Покажите данный код на входе</h3>
    <qrcode [qrdata]="uuid" [size]="256" [level]="'M'"></qrcode>
  </div>
  <div class="mt-1"><h3>Номер заказа</h3></div>
  <p class="lead"> {{order.id}}</p>
  <div class="mt-1"><h3>Ваши имя и фамилия</h3></div>
  <p class="lead"> {{order.name}} {{order.surname}}</p>
  <div class="mt-1"><h3>Email</h3></div>
  <p class="lead"> {{order.email}}</p>
  <div class="mt-1"><h3>Номер мобильного </h3></div>
  <p class="lead"> {{order.phone}}</p>
  <div class="mt-1"><h3>Событие </h3></div>
  <p class="lead"> {{order.eventName}}</p>
  <div class="mt-1" *ngIf="order.arrivalTime"><h3>Ориентировочное время прибытия</h3></div>
  <p class="lead" *ngIf="order.arrivalTime"> {{order.arrivalTime}}</p>
  <div class="mt-1" *ngIf="order.people"><h3>Гостей </h3></div>
  <p class="lead" *ngIf="order.people"> {{order.people}}</p>
  <div class="mt-1"><h3>Заказ за столик:</h3></div>
  <p class="lead">Всего {{totalMoney}} рублей</p>
  <div *ngFor="let categoryMain of menuCategories" class="lead">
    <h1 *ngIf="showCategory(categoryMain)">
      {{categoryMain.name}}
      <i class="h-line"></i>
      <span class="desc">{{categoryMain.description}}</span>
    </h1>
    <div *ngFor="let category of categoryMain.categories">
      <h3 *ngIf="showCategory(category)">{{category.name}}</h3>
      <ul *ngIf="showCategory(category)" class="info-list menu-list">
        <li *ngFor="let item of category.menuItems">
                <span class="title" [hidden]="!(item.count > 0)">
                  <b>{{item.name}}</b>
                  <br>
                  <i>{{item.description}}</i>
                  <br>
                  {{item.descriptionProportions}}
                </span>
          <span class="price" [hidden]="!(item.count > 0)">
                  <b>
                    {{item.price}} BYN
                  </b>
                  /
                  {{getCount(item)}} штук
                </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-1" *ngIf="order.payStatus"><h3>Статус оплаты</h3></div>
  <p class="lead" *ngIf="order.payStatus"> {{order.payStatus}}</p>
  <div class="mt-1" *ngIf="order.tableNumber"><h3>Столик </h3></div>
  <p class="lead" *ngIf="order.tableNumber"> {{order.tableNumber}}</p>
  <div class="mt-1"><h3>Kомментарий к заказу</h3></div>
  <p class="lead"> {{order.description}}</p>

  <div class="mt-1" *ngIf="order.dance"><h3>Кол-во мест на танцполе</h3></div>
  <p class="lead" *ngIf="order.dance">{{order.dance}}</p>

  <div class="mt-1" *ngIf="order.tables && order.tables.length > 0"><h3>Места за столиками</h3></div>
  <div *ngIf="order.tables &&  order.tables.length > 0">
    <div *ngFor="let table of order.tables">
      Номер столика : {{table.table}}. Место : {{table.place}}.
    </div>
  </div>
</div>
